
@font-face {
    font-family: 'MuseoSlab500';
    src: url('../fonts/Museo_Slab_500-webfont.eot');
    src: url('../fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo_Slab_500-webfont.woff') format('woff'),
         url('../fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('../fonts/Museo_Slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* #Site Styles
================================================== */

.widecolumn .entry p {
	font-size: 1.05em;
}

.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.4em;
}

.widecolumn {
	line-height: 1.6em;
}

.narrowcolumn .postmetadata {
	text-align: center;
}

.thread-alt {
	background-color: #fff;
}

.thread-even {
	background-color: #f8f8f8;
}

.depth-1 {
	border: 1px solid #ccc;
}

.even, .alt {
	border-left: 1px solid #ccc;
}

small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
}

#sidebar h2 {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#010101;
}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	color: white;
}

h2, h2 a, h2 a:visited {
	font-weight:400;
	color: #fff;
	font-size:18px;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
}

.sticky {
	background: #f7f7f7;
	padding: 0 10px 10px;
}

.sticky h2 {
	padding-top: 10px;
}

.commentlist li, #commentform input, #commentform textarea {
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #9C9C9C;
	font-size:13px;
}

.commentlist li ul li {
	font-size: 1em;
}

.commentlist li {
	font-weight: bold;
}

.commentlist li .avatar {
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
}

.commentlist cite, .commentlist cite a {
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	color:#9c9c9c;
}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
}

#commentform p {
	font-family: Arial, Helvetica, sans-serif;
}

.commentmetadata {
	font-weight: normal;
}

span.says{
	font-weight:normal;
	color:#9c9c9c;
}

em{
	font-weight:bold;
	font-style:italic;
	color:#9c9c9c;
}

#sidebar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #555555;
}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
}



acronym, abbr, span.caps

{

	font-size: 0.9em;

	letter-spacing: .07em;

	}



/*a, h3 a:hover {

	color: #06c;

	text-decoration: none;

	}



h2 a:hover{

	color:#666;

	text-decoration:underline;

}

a:hover {

	font-family:Arial, Helvetica, sans-serif;

	color: #06c;

	text-decoration: underline;

	}



*/



#wp-calendar #prev a, #wp-calendar #next a {

	font-size: 9pt;

	}



#wp-calendar a {

	text-decoration: none;

	}



#wp-calendar caption {

	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;

	text-align: center;

	}



#wp-calendar th {

	font-style: normal;

	text-transform: capitalize;

	}

/* End Typography & Colors */







/* Begin Structure */



#page {

	background-color: white;

	margin: 20px auto;

	padding: 0;

	width: 760px;

	border: 1px solid #959596;

	}



#header {

	background-color: #73a0c5;

	margin: 0 0 0 1px;

	padding: 0;

	height: 200px;

	width: 758px;

	}



#headerimg {

	margin: 0;

	height: 200px;

	width: 100%;

	}



.narrowcolumn {

	float: left;

	padding: 0 0 20px 45px;

	margin: 0px 0 0;

	width: 450px;

	}



.widecolumn {

	padding: 10px 0 20px 0;

	margin: 5px 0 0 150px;

	width: 450px;

	}





.post hr {

	display: block;

	}



.widecolumn .post {

	margin: 0;

	}



.narrowcolumn .postmetadata {

	padding-top: 5px;

	}



.widecolumn .postmetadata {

	margin: 30px 0;

	}



.widecolumn .smallattachment {

	text-align: center;

	float: left;

	width: 128px;

	margin: 5px 5px 5px 0px;

}



.widecolumn .attachment {

	text-align: center;

	margin: 5px 0px;

}



.postmetadata {

	clear: both;

}



.clear {

	clear: both;

}



/* End Structure */







/*	Begin Headers */



h2 {

	margin: 0px 0px 10px 0px;

	}



h2.pagetitle {

	color:#9c9c9c;

	margin-top: 10px;

	text-align: center;

	font-style:italic;

}



#sidebar h2 {

	margin: 5px 0 10px 0;

	padding: 0;

	}



h3 {

	padding: 0;

	margin: 30px 0 0;

	font-size:14px;

	}



h3.comments {

	padding: 0;

	margin: 40px auto 20px ;

	}

/* End Headers */







/* Begin Images */

p img {

	padding: 0;

	max-width: 100%;

	}



/*	Using 'class="alignright"' on an image will (who would've

	thought?!) align the image to the right. And using 'class="centered',

	will of course center the image. This is much better than using

	align="center", being much more futureproof (and valid) */



img.centered {

	display: block;

	margin-left: auto;

	margin-right: auto;

	}



img.alignright {

	padding: 4px;

	margin: 0 0 2px 7px;

	display: inline;

	}



img.alignleft {

	padding: 4px;

	margin: 0 7px 2px 0;

	display: inline;

	}



.alignright {

	float: right;

	}



.alignleft {

	float: left;

	}

/* End Images */







/* Begin Lists



	Special stylized non-IE bullets

	Do not work in Internet Explorer, which merely default to normal bullets. */



html>body .entry ul {

	margin-left: 0px;

	margin-bottom:15px;

	padding: 0 0 0 30px;

	list-style: none;

	padding-left: 10px;

	text-indent: 0px;

	}



html>body .entry li {

	margin: 7px 0 5px 10px;

	list-style:disc;

	list-style-position:outside;

	line-height:18px;

	}



.entry ul li:before, #sidebar ul ul li:before {

	/*content: "\00BB \0020";*/

	}



.entry ol {

	padding: 0 0 0 35px;

	margin: 0;

	}



.entry ol li {

	margin: 0;

	padding: 0;

	}



.postmetadata ul, .postmetadata li {

	display: inline;

	list-style-type: none;

	list-style-image: none;

	}



#sidebar ul, #sidebar ul ol {

	margin: 0;

	padding: 0;

	}



#sidebar ul li {

	list-style-type: none;

	list-style-image: none;

	padding-bottom: 20px;

	}



#sidebar ul p, #sidebar ul select {

	margin: 5px 0 8px;



	}



#sidebar ul ul, #sidebar ul ol {

	padding: 5px 0 0 10px;

	}



#sidebar ul ul ul, #sidebar ul ol {

	margin: 0 0 0 10px;

	}



ol li, #sidebar ul ol li {

	list-style: none;

	}



#sidebar ul ul li, #sidebar ul ol li {

	padding: 3px 0 10px 0;



	}


.sidebar-wrap {

	width:285px;

	position: relative;

}

/* End Entry Lists */







/* Begin Form Elements */



.searchbox{

	width:165px;

	height:19px;

	border:none;

	padding-top:3px;

	padding-left:7px;

	padding-right:10px;

	margin-right:8px;

	vertical-align:middle;

}



#searchsubmit{

	vertical-align:middle;
	height:26px;
	padding:0px 3px 2px 3px;
}



/*a.searchbtn{

	display: inline-block;

    width: 80px;

    height: 22px;

    background-image:url(../images/search-btn.png);

	background-position:top;

	vertical-align:middle;

}*/





#searchform {

	margin: 0px;

	padding: 0px 0px 0px 0px;

	text-align: right;

	}



#searchform #s {

	width: 130px;

	padding: 2px;

	vertical-align:middle;

	}



/*#searchsubmit {

	display: inline-block;

    width: 80px;

    height: 22px;

    background-image:url(../images/search-btn.png);

	background-position:top;

	background-color:#000;

	vertical-align:middle;

	border:none;

	text-indent:-9999px;

	font-size:0px;

	line-height:0px;

}*/



.entry form { /* This is mainly for password protected posts, makes them look better. */

	text-align:center;

	}



select {

	width: 130px;

	}



#commentform input {

	width: 170px;

	padding: 2px;

	margin: 0px 0px 0px 0px;

	}



#commentform {

	margin: 5px 10px 0 0;

	}

#commentform textarea {
	padding: 2px;
	width:100%;
	resize: none;
}

#respond:after {

		content: ".";

	    display: block;

	    height: 100%;

	    clear: both;

	    visibility: hidden;

	}

	#respond{
		padding-top:20px;
	}
h3#reply-title{
	margin-bottom:5px;
}
#commentform #submit {

	margin: 0 3px 5px auto;

	float: left;

	}

	#commentform #submit:hover{
		cursor:pointer;
		color:#000000;
		border:1px #333333 solid;
	}

/* End Form Elements */







/* Begin Comments*/

.alt {

	margin: 0;

	padding: 10px;

	}



.commentlist {

	padding: 0;

	text-align: justify;

	}



.commentlist li {

	margin: 0px 0 10px;

	padding: 5px 5px 10px 10px;

	list-style: none;



	}

.commentlist li ul li {

	margin-right: -5px;

	margin-left: 10px;

}



.commentlist p {

	margin: 10px 5px 10px 0;

}

.children { padding: 0; }



#commentform p {

	margin: 5px 0;

	}



.nocomments {

	text-align: center;

	margin: 0;

	padding: 0;

	}



.commentmetadata {

	margin: 0;

	display: block;

	}


.comment{
	padding:10px;
	margin-bottom:10px;
}
/* End Comments */







/* Begin Sidebar */

#sidebar

{

	/*padding: 20px 0 10px 0;

	margin-left: 545px;

	width: 190px;*/

	margin-left:5px;

	}



#sidebar form {

	margin: 0;

	}

/* End Sidebar */







/* Begin Calendar */

#wp-calendar {

	empty-cells: show;

	margin: 10px auto 0;

	width: 155px;

	}



#wp-calendar #next a {

	padding-right: 10px;

	text-align: right;

	}



#wp-calendar #prev a {

	padding-left: 10px;

	text-align: left;

	}



#wp-calendar a {

	display: block;

	}



#wp-calendar caption {

	text-align: center;

	width: 100%;

	}



#wp-calendar td {

	padding: 3px 0;

	text-align: center;

	}



#wp-calendar td.pad:hover { /* Doesn't work in IE */

	background-color: #fff; }

/* End Calendar */







/* Begin Various Tags & Classes */

acronym, abbr, span.caps {

	cursor: help;

	}



acronym, abbr {

	border-bottom: 1px dashed #999;

	}



blockquote {

	margin: 15px 30px 0 10px;

	padding-left: 20px;

	border-left: 5px solid #ccc;

	color:#666;

	background-color:#fff;

	}



blockquote cite {

	margin: 5px 0 0;

	display: block;

	}



blockquote p{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-style:italic;
	font-size:14px;
	color:#555555;

}



.center {

	text-align: center;

	}



.hidden {

	display: none;

	}



.screen-reader-text {

     position: absolute;

     left: -1000em;

}



hr {

	display: none;

	}



a img {

	border: none;

	}

/* End Various Tags & Classes*/







/* Captions */

.aligncenter,

div.aligncenter {

	display: block;

	margin-left: auto;

	margin-right: auto;

}



.wp-caption {

	border: 1px solid #ddd;

	text-align: center;

	background-color: #f3f3f3;

	padding-top: 4px;

	margin: 10px;

/*	-moz-border-radius: 3px;

	-khtml-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;*/

}



.wp-caption img {

	margin: 0;

	padding: 0;

	border: 0 none;

}



.wp-caption p.wp-caption-text {

	font-size: 11px;

	line-height: 17px;

	padding: 0 4px 5px;

	margin: 0;

}

/* End captions */





/* "Daisy, Daisy, give me your answer do. I'm half crazy all for the love of you.

	It won't be a stylish marriage, I can't afford a carriage.

	But you'll look sweet upon the seat of a bicycle built for two." */





img.sm-icons{

	margin:0px 5px 0px 0px;

	border:none;

}





img#pdf{

	margin:0px 5px 0px 0px;

}





a.blogheading, a.blogheading:visited, a.blogheading:link{

	/*color:#4b8a35;
	font-size:18px;
	text-decoration:underline;*/


	color: #4B8A35;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 34px;
    margin: 0 0 0px;
	font-weight:bold;
	text-decoration:underline;
}



a.blogheading:hover, a.blogheading:visited:hover {

	text-decoration:none;

}



/*.blognavigation{

	width:570px;

	font-family:Arial, Helvetica, sans-serif;

	height:25px;

	background-image: none;

	margin-left:0px;

	margin-top:25px;

	border: none;
	overflow:auto;

}*/
.blognavigation {
    background-image: none;
    border: medium none;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    overflow: auto;
	overflow-x:hidden;
	overflow-y:hidden;
    padding-bottom: 10px;
	margin-top:10px;
	width:100%;
}

.blognavigationbottom{

	background-image: none;
    border: medium none;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    overflow: hidden;
    padding-bottom: 10px;
	margin-top:10px;
	/*overflow-x:hidden;
	overflow-y:hidden;
	border:1px red solid;*/
	/*height:100px;*/
}

.alignright {
	float: right;
	color:#9c9c9c;
}

.alignleft {
	float: left;
	color:#9c9c9c;
}

.alignleftnav {
    float: left;
    text-align: left;
    width: 300px;
}
.alignrightnav {
    float: right;
    text-align: right;
    width: 300px;
}




img#sidebar{

	border:none;

	padding:0px;

	margin:20px 0px 6px 0px;

}





.small{

	margin:0px 0px 15px 0px;

	font-weight:bold;

	font-size:12px;

	font-family:Arial, Helvetica, sans-serif;

	color:#666;


}



.smallfeed{
	font-weight:bold;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#626262;
	line-height:24px;

}



.readmorespace{

	padding:0;

	margin:10px 0px 40px 0px;

	text-align:right;

}



@charset "utf-8";

/* CSS Document */



body{
	margin:0px;
	padding:0px;
	background-position:top;
	background-color:#e2e2e2;
}
body{
	/*background-color:#acc5a2;*/
	margin:0px;
	padding:0px;
	background-color:#e2e2e2;
}

.header-wrap{
	background-image:url(../images/bg-body.jpg);
	background-repeat:repeat-x;
	background-color:#e2e2e2;
	width:100%;
}


.main{
	width:1020px;
	min-height:500px;
	margin:0px auto;
	padding:0px;
}

.header{
	width:1000px;
	height:169px;
	margin:0 auto;
	padding:0px;
}

.header-middle-left{
	width:400px;
	height:169px;
	float:left;
}

.header-middle-right{
	float:right;
	width:350px;
	float:right;
	padding:15px 0px 0px 0px;
	text-align:right;
	clear:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:43px;
	font-weight:bold;
	color:#FFFFFF;
	text-shadow: 2px 2px #123801;
}

.header-links{
	float:right;
	margin:5px 0px 0px 0px;
}

span.h-link-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	color:#FFFFFF;
}

a.h-links:link, a.h-links:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	color:#FFFFFF;
	text-decoration:none;
}

a.h-links:hover, a.h-links:visited:hover{
	text-decoration:underline;
}



.search-div{

	text-align:right;

}

.navigation{
	width:760px;
	height:46px;
	padding:0px;
	margin:-36px 0px 0px 0px;
	*margin:0;
	clear:both;
	float:right;
}



#nav, #nav ul{

	font-size:14px;

	font-weight:bold;

	font-family:Arial;

	display:inline;

	margin:0px;

}



#nav li{

	float:left;

	display:inline;

	margin:0px 0px 0px 0px;

}



ul{

	font-family:Verdana, Geneva, sans-serif;

	font-size:12px;

	color:#222222;

	line-height:18px;

	margin:0px;

	padding:0px;

	list-style-type:disc;

	/*margin:10px 0px 10px 0px;*/

}



ul li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#222222;
	line-height:20px;
	margin:0px;
	padding:0px;
}

.sidebar-wrap ul li a:link, .sidebar-wrap ul li a:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:24px;
	font-weight:normal;
	text-decoration:none;
	margin:0px;
	padding:0px;
	color:#3e691d;
}

.sidebar-wrap ul li a:hover, .sidebar-wrap ul li a:visited:hover{
	text-decoration:underline;
}


a.sidebar:link, a.sidebar:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:24px;
	font-weight:normal;
	text-decoration:none;
	margin:0px;
	padding:0px;
	color:#3e691d;
}

li{

}

ol{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	color:#595959;

	line-height:18px;

	list-style-type:decimal;

	/*margin:10px 0px 15px 0px;

	list-style-type:*/

}



ol li{

	/*margin:0px;*/

}



img.main-logo{
	margin:0px;
	margin-left:10px;
}



img.telephone-number{
	margin:0px 0px 0px 0px;
}



.searchbox{

	width:140px;

	height:16px;

	border:none;

	padding-top:3px;

	padding-left:7px;

	padding-right:10px;

	margin-right:8px;

	vertical-align:middle;

}



.search-button{

	height:24px;

	vertical-align:middle;

}


.content{
	margin:32px 0px 0px 0px;
}


.content-top{
	width:1020px;
	height:25px;
	background-image:url(../images/bg-content-top.png);
	background-repeat:no-repeat;
	margin:0px;
	*margin-top:-10px;
	padding:0px;
}

.content-middle{
	width:970px;
	min-height:400px;
	background-image:url(../images/bg-content.png);
	background-repeat:repeat-y;
	background-color:#fff;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;
	margin:0px;
	padding:0px 25px 0px 25px;

}

.homepage-content-left{
	width:550px;
	padding:0px 0px 0px 0px;
	float:left;
	/*margin-top:-20px;*/
}

.homepage-content-right{
	width:400px;
	float:right;
	margin-top:0px;
}

.homepage-news{
	padding:10px 0;
}

.homepage-news + .homepage-news{
	border-top:1px solid #e9e9e9;
}

img.hp-news{
	width:75px;
	height:75px;
	border:1px #e6e6e6 solid;
	float:left;
	margin:0px 10px 0px 0px;
}


.right-content-top{
	/*border:1px red solid;*/
}
.right-content-bottom{
	/*border:1px red solid;*/
	margin-top:30px;
}

/*#part2_right_box{ width:423px; height:10px; background-image:url(../images/small-crv-forms.jpg); background-repeat:no-repeat; }*/
#part2_right .tp{ background:url(../images/small-crv-forms.jpg) top left no-repeat #DBE8D7 ; height:14px; display:block; }
#part2_right_box{ width:340px; /*height:250px;*/ background:url(../images/small-crv-forms.jpg) top left no-repeat; background-color:#DBE8D7;  }
#part2_right_box h2{
font-family:Verdana, Geneva, sans-serif; font-size:18px; color:#4B8A35; font-weight:lighter; margin:0px 0 12px 8px; text-align:left;
}
#part2_right_box3{ width:340px; height:13px; background-image:url(../images/small-crv-forms-bottom.jpg); background-repeat:no-repeat; display:block; float:left; margin:-13px 0px 10px 0px;}

div#recommend{background:#dbe8d7;border:1px solid #ddd;border-top:none;margin-bottom:12px;height:330px;}
div#recommend div#slide{background:#dbe8d7;}
div#recommend p, p.pageRelevance{
	margin:8px 6px;
	padding:0 0 6px;
	border-bottom:3px solid #ccc;
	color:#333;
	line-height:1.4em;
	font-size:12px;
}
div#recommend p span{font-weight:bold;padding-top:10px;}

/*h2.ticker-title{
	font-family:Verdana, Geneva, sans-serif;

	font-size:18px;

	line-height:26px;

	color:#4b8a35;

	font-weight:lighter;

	padding:5px 0px 0px 10px;
}*/



.content-left-blog{
	width:290px;
	padding:0px 10px 0px 0px;
	margin:0px;
	float:left;
	border-right:1px #cfcfcf solid;
}



.content-right-blog{
	width:649px;
	margin:0px;
	float:left;
	border-left:1px #cfcfcf solid;
	padding:0px 10px;
	margin-left:-1px;

}

.content-bottom{
	width:1020px;
	height:24px;
	background-image:url(../images/bg-content-bot.png);
	margin:0px;
	padding:0px;
	clear:both;
}



.calltoaction{
	width:545px;
	height:263px;
	background-image:url(../images/bg-cta2.png);
	background-repeat:no-repeat;
	position:relative;
	padding-top:10px;
	float:left;
}

.cta-left{
	float:left;
	/*border-right:1px #d4d4d4 solid;*/
	width:545px;
	height:254px;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;
}
.cta-right{
	width:400px;
	height:214px;
	float:left;
	border-left:1px #fdfdfd solid;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;
	text-align:center;
	padding-top:40px;
}

.cta-tag{
	width:545px;
	height:47px;
	background-image:url(../images/bg-cta-tagline2.png);
	background-repeat:no-repeat;
	position:absolute;
	bottom:0px;
	left:0px;
}


.cta-shadow{
	width:545px;
	height:55px;
	background-image:url(../images/bg-cta-shadow2.png);
	background-repeat:no-repeat;
	overflow:auto;
	float:left;
}

#tile1{
	height: 214px;
    width: 528px;
	padding:10px 20px 20px 20px;
	text-align:center;
}


#tile2{
	height: 204px;
    width: 495px;
	padding:20px 20px 20px 20px;
	text-align:center;
}

#tile3{
	height: 204px;
    width: 501px;
	padding:20px 20px 20px 20px;
	text-align:center;
}

.cta-list-wrap{
	text-align:center;
	width:100%;
	overflow:auto;
}

.cta1-title{
	clear:left;
}

ul.ctalist{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align:left;
	padding-top:10px;
	float:left;
}
ul.ctalist li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:30px;
	color:#222222;
	font-weight:normal;
	margin:0px;
	padding:0px;

	background-image: url(../images/icon-tick.png);
	background-repeat: no-repeat;
	padding-left: 45px;
	margin-bottom:5px;
}

ul.cta1{
	margin-left:30px;
}
ul.cta2{
	margin-left:40px;
}

img.cta-img-left{
	float:left;
	padding:10px 10px 0px 0px;
}

p.cta-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	color:#222222;
	font-weight:normal;
	margin:0px;
	padding:0px;
	margin-top:20px;
	text-align:left;
}


.cta-right-tit{

	width:260px;

	margin:20px 0px 0px 0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	font-weight:normal;
	text-align:center;

}
.cta-right-text{

	width:230px;




	margin:10px 0px 0px 0px;
	padding:0px 15px 0px 15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	font-weight:normal;
	text-align:left;
	line-height:24px;

}




a.cta-start:link, a.cta-start:visited {
	height:95px;
	width:214px;
	background-image:url(../images/btn-start-claim-now.png);
	background-position:top;
	display:block;
	margin-top:30px;
	margin-left:90px;
}
a.cta-start:hover, a.cta-start:visited:hover  {
	background-position:bottom;
}

.cta-title1{

	font-family:Verdana, Geneva, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333;

	margin:0px 0px 15px 0px;

}



.cta-title2{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:30px;

	color:#fff;

	line-height:30px;

	margin:0px;

}



.cta-title3{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:50px;

	color:#fff;

	line-height:50px;

	margin-bottom:25px;

}



.cta-title4{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:18px;

	color:#fff;

	line-height:26px;

}

.footer-top{
	width:1020px;
	height:24px;
	background-image:url(../images/bg-footer-top.png);
	margin:0px;
	padding:0px;
}

.footer{
	width:1000px;
	height:257px;
	background-image:url(../images/bg-footer-back.png);
	background-repeat:repeat-y;
	margin:0px;
	padding:0px 10px;
}
.footer-content{
	width:963px;
	height:277px;
	background-image:url(../images/bg-footer.png);
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
	padding-left:36px;
	position:relative;
}


.footer-links{

	font-family:Verdana, Geneva, sans-serif;

	font-size:11px;

	color:#4b8a35;

	line-height:16px;

	text-align:center;

	padding:0px;

	margin:0px 0px 10px 0px;

}



.footer-bottom{

	width:900px;

	height:17px;

	background-image:url(../images/footer-bottom.jpg);

	margin:0px;

	padding:0px;

	clear:both;

}



.footer-left{

	width:700px;

	float:left;

}



.footer-right{

	width:150px;

	float:right;

	text-align:right;

}



.footer-text{

	font-size:12px;

	color:#000;

	font-style:italic;

	line-height:16px;

}



.col1{

	width:550px;

	float:left;

	/*background-color: #FFE9B8;*/

	padding: 0px 0 10px 0px;

}
.col1m{
	width:465px;
	float:left;
	/*background-color: #FFE9B8;*/
	padding: 0px 0 10px 0px;
}

.col2m{
	width:475px;
	float:right;
	overflow:auto;

}



#contact-bg-outer							{float:left; width:421px; /*background:url(../images/contact-left-topbg.jpg) no-repeat top left; padding-top:14px;*/ height:auto;}



#contact-bg-inner							{float:left; width:401px; /*background:url(../images/contact-left-bottom.jpg) no-repeat bottom left #FFE9B8; padding:0 0 14px 20px;*/ height:auto; }

.col1-contact{
	width: 450px;
	float: left;
	padding: 0px 0 10px 0px;
}

.col2-contact{
	width: 400px;
	float: left;
	overflow: auto;
	padding-top:10px;
}



h5							{font:bold 13px/13px Arial, Helvetica, sans-serif; float:both; padding-bottom:10px }



form p b					{font:normal 14px/17px Arial, Helvetica, sans-serif; float:left; width:98px;}

form p input.textfild		{float:left; width:261px; padding:3px 0 3px 0; border:none; background:#FFFFFF; margin: 0px 0 10px 0;}

form p textarea				{float:left; width:261px; height:117px; border:none; background:#FFFFFF;margin: 0 0 10px 0;}

form p input.submitt02{`
	float:right;
	width:78px;
	height:25px;
	border:none;
	background:url(../images/btn-send.png) no-repeat top left;
	display:block;
	margin:0px 42px 0 0;
	cursor:pointer;
	display:inline;
	font-size:1px;
	color:#4B8934;

}
form p input.submitt02:hover, form p input.submitt04:hover{
	background-position:bottom;
}


form p input.submitt04{
	float:right;
	width:78px;
	height:25px;
	border:none;
	background:url(../images/btn-reset.png) no-repeat top left;
	display:block;
	margin:0px 10px 0 0;
	cursor:pointer;
	display:inline;
	font-size:1px;
	color:#4B8934;
}

#selectTitleForContact{

width:120px;

border:1px solid #ccc;

margin-bottom:-3px;

}

span.askNumber {width:100%;padding-bottom:2px;margin-top:-6px;}

span.askNumber select{font-size:1em;}

.style8 {color: #FF0000}

#contact-bg-inner form h5 {padding-bottom:20px;}



.contact-downloads{
}



.col2{
	width:400px;
	float:right;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;

}



h1{

	font-family:Arial, Helvetica, sans-serif;

	font-size:30px;

	line-height:34px;

	color:#294a0a;

	margin:0px 0px 10px 0px;
	font-weight:bold;

}

h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:21px;
	line-height:26px;
	color:#294a0a;
	font-weight:normal;
	margin:0px 0px 15px 0px;
}

h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#555;
	line-height:20px;
	margin:0px 0px 10px 0px;
}

p.faq-header{

	font-family:Arial, Helvetica, sans-serif;

	font-size:16px;

	font-weight:bold;

	line-height:24px;

	color:#4b8a35;

	margin:0px 0px 15px 0px;
	text-align:left;

}

p.pdfdown{
	text-align:left;
}

p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	color:#434343;
	margin:0px 0px 20px 0px;
	text-align:justify;
}





a:link, a:visited{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:24px;
	color:#294a0a;
	text-decoration:none;
	font-weight:bold;
}



a:hover, a:visited:hover{

	text-decoration:underline;

}



a.newsfeed:link, a.newsfeed:visited{
	font-size:14px;
	color:#294a0a;
	/*position:absolute;
	top:5px;
	left:135px;*/

	line-height:20px;
	width:100%;
}

.newsfeed-title{
	width:100%;
	text-align:justify;
}


.read-more-home{
	width:105px;
	height:31px;
	background-image:url(../images/btn-readmore.jpg);
	background-repeat:no-repeat;
	background-position:top;
	cursor:pointer;
	position:relative;
	float:right;
	margin-top:0px;
}
.read-more-home:hover{
	background-position:0px -31px;
}

.read-more-home.active {background-position:0px -62px;
}
.read-more-home.active:hover {background-position:bottom;
}


a.footer-link{

	font-size:11px;

}

p.newsfd{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:20px;
	color:#323232;
	font-weight:normal;
	margin:0px;
	padding:0px;
}

.hp-testimonial{
	background-image:url(../images/bg-testimonial2.png);
	background-repeat:no-repeat;
	width:400px;
	height:427px;
}

a.home-nav:link, a.home-nav:visited {

	height:46px;

	width:65px;

	background-image:url(../images/btn-home.png);

	background-position:top;

	display:block;

}



a.about-nav:link, a.about-nav:visited {

	height:46px;

	width:81px;

	background-image:url(../images/btn-about.png);

	background-position:top;

	display:block;

}

a.credit-nav:link, a.credit-nav:visited {

	height:46px;

	width:161px;

	background-image:url(../images/btn-credit-card-charges.png);

	background-position:top;

	display:block;

}

a.payment-nav:link, a.payment-nav:visited {

	height:46px;

	width:153px;

	background-image:url(../images/btn-payment-protection.png);

	background-position:top;

	display:block;

}



a.win-nav:link, a.win-nav:visited {

	height:46px;

	width:111px;

	background-image:url(../images/btn-no-win-no-fee.png);

	background-position:top;

	display:block;

}



a.refer-nav:link, a.refer-nav:visited {

	height:46px;

	width:80px;

	background-image:url(../images/btn-refer-a-friend.png);

	background-position:top;

	display:block;

}



a.faq-nav:link, a.faq-nav:visited {

	height:46px;

	width:48px;

	background-image:url(../images/btn-faq.png);

	background-position:top;

	display:block;

}



a.contact-nav:link, a.contact-nav:visited {

	height:46px;

	width:90px;

	background-image:url(../images/btn-contact.png);

	background-position:top;

	display:block;

}



a.ontv-nav:link, a.ontv-nav:visited {

	height:46px;

	width:112px;

	background-image:url(../images/btn-ontv.png);

	background-position:top;

	display:block;

}







a.home-nav:hover, a.home-nav:visited:hover, a.about-nav:hover, a.about-nav:visited:hover, a.credit-nav:hover, a.credit-nav:visited:hover, a.payment-nav:hover, a.payment-nav:visited:hover, a.win-nav:hover, a.win-nav:visited:hover, a.refer-nav:hover, a.refer-nav:visited:hover, a.faq-nav:hover, a.faq-nav:visited:hover, a.contact-nav:hover, a.contact-nav:visited:hover, a.ontv-nav:hover, a.ontv-nav:visited:hover  {

	background-position:bottom;

}



span.alt{

	display:none;

}



#home a.home-nav,

#about a.about-nav,
#credit a.credit-nav,

#payment a.payment-nav,

#win a.win-nav,

#refer a.refer-nav,

#faq a.faq-nav,

#contact a.contact-nav,

#ontv a.ontv-nav{

	background-position:bottom;

}

#body-yellow {
	width:398px;
	height:330px;
	background:url(../images/bg-yellow.png) no-repeat top left;
	padding:0px;
	margin:0px;
	overflow:hidden;
}

#body-yellow img{

	margin:20px 0px 10px 0px;

}

img.img-yellow-ppi{
	width:348px;
	height:74px;
	padding-left:30px;
}

a.yellow-opt1:link, a.yellow-opt1:visited{
	width:381px;
	height:87px;
	background-image:url(../images/btn-opt1-contact.png);
	background-repeat:no-repeat;
	background-position:top;
	background-color: transparent;
	display:block;
	margin-bottom:15px;
}
a.yellow-opt2:link, a.yellow-opt2:visited{
	width:381px;
	height:87px;
	background-image:url(../images/btn-opt2-download.png);
	background-repeat:no-repeat;
	background-position:top;
	background-color: transparent;
	display:block;
}
a.yellow-opt1:hover, a.yellow-opt1:visited:hover,a.yellow-opt2:hover, a.yellow-opt2:visited:hover{
	background-position:bottom;
}


#body-yellow img.lft{

	margin:0 auto;

	padding:0 0 10px 50px;

}
.alignrightbrac {
	float: right;
	width:10px;
	margin-top:5px;
	/*border:1px red solid;*/
	vertical-align:top;
	margin-left:5px;
	}

.alignleftbrac {
	float: left;
	width:10px;
	/*border:1px red solid;*/
	margin-right:5px;
	margin-top:5px;
	}



.content-right-blog h1{
	padding-bottom:5px;
}

.sitemap{
	float:left;
	height:170px;
	width:490px;
}

.news-signup{
	float:right;
	width:430px;
}

p.blurb-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:24px;
	color:#869e51;
	width:640px;
	text-align:left;
}

p.blurb-txt strong{color:#869E51;}

p.newsletter-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#bcd18f;
	text-align:left;
}
p.newsletter-txt a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#fff;
}

a.blurb-link:link, a.blurb-link:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:24px;
	color:#FFFFFF;
	text-decoration:none;
}
a.blurb-link:hover, a.blurb-link:visited:hover{
	text-decoration:underline;
}

.footer-blurb{
	position:absolute;
	bottom:0px;
	left:36px;
}

.ico-logo{
	position:absolute;
	bottom:10px;
	right:65px;
}

span.footer-titles{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight:normal;
	color:#000000;
	clear:both;
	float:left;
	width:100%;
	margin-bottom:5px;
}

.link1, .link2, .link3{
	float:left;
	/*width:125px;*/
	padding-right:35px;
}

.link2{
	/*width:160px;	*/
}

a.footer-sitemap:link, a.footer-sitemap:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:24px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
}

a.footer-sitemap:hover, a.footer-sitemap:visited:hover{
	text-decoration:underline;
}



/*----- NEWSLETTER SIGNUP STYLES -----*/
.newsletter-form {
    position: relative;
}
.mc-field-group {
    float: left;
}
input#mce-FNAME, input#mce-EMAIL {
    border: medium none;
    color: #717171;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 27px;
    margin-top: 10px;
    padding: 2px 8px;
}

input#mce-FNAME {
	background-color:transparent;
    background-image: url("../images/bg-input-nlname.png");
    background-repeat: no-repeat;
    height: 27px;
    margin-right: 5px;
    width: 144px;
}
input#mce-EMAIL {
	background-color:transparent;
    background-image: url("../images/bg-input-nlemail.png");
    background-repeat: no-repeat;
    height: 27px;
    width: 144px;
}
.nl-submit {
    float: left;
    margin-top: 4px;
}
#mc-embedded-subscribe {
    background-color: transparent;
    background-image: url("../images/btn-signup.png");
    background-position: center top;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 43px;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: middle;
    width: 95px;
}
#mc-embedded-subscribe:hover{
	background-position:bottom;
}

.newsletter-form{
	position:relative;
}

div.mce_inline_error {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
    right: 30px;
    top: 130px;
    width: 250px;
}

.response {
    background-color: #26420a;
    border-radius: 8px 8px 8px 8px;
	border: 2px solid #f2b106;
    /*box-shadow: 0 0 3px 3px #7CBF33;*/
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    left: 0px;
    line-height: 16px;
    padding: 10px;
    position: absolute;
    top: 130px;
	left:570px;
    width: 210px;
	z-index:100;
}

.response a:link, .response a:visited{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
	color: #f2b106;
	text-decoration:none;
}

.response a:hover, .response a:visited:hover{
	text-decoration:underline;
}

/*----- BLOG PAGE STYLES -----*/

p.blogheading{
	margin:0px 0px 5px 0px;
	padding:0px;
}

a.blogheading:link, a.blogheading:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:24px;
	color:#3e691d;
	text-decoration:none;
}
a.blogheading:hover, a.blogheading:visited:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:24px;
	color:#3e691d;
	text-decoration:underline;
}

.blog-summary-wrapper{
	width:100%;
	min-height:155px;
	/*border:1px #dadada solid;*/
	margin-bottom:15px;
	padding:1px 0px 0px 0px;
	position:relative;
}

.entry-sum{
	position:relative;
	clear:both;

}

img.wp-post-image{
	float:left;
	padding:0px;
	margin:0px 10px 0px 0px;
	/*margin-top:-30px;*/
	position:absolute;
	top:0;
 	left:0;
	width:150px;
	height:150px;
	border:1px #cccccc solid;
}

img.wp-post-image:hover{
	border:1px #747474 solid;
}



.entry-sum small, .entry-sum p{
	margin-left:160px;
}

.entry-sum p{
	margin-top:5px;
}

.postmetadata-right{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
	color:#555555;
	margin:0px;
	padding:0px;
	float:right;
	width:489px;
	text-align:right;
}

.postmetadata-wrap{
	/*position:absolute;
	bottom:0px;
	right:0px;*/
	float:right;
	clear:both;
}

.postmetadata-right a:link,
.postmetadata-right a:visited,
.postmetadata-right a:hover,
.postmetadata-right a:visited:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	line-height:16px;
	color:#3e691d;
}

.divide-horizontal {
    border-top: 1px solid #cfcfcf;
    clear: both;
    height: 1px;
    margin: 5px 0;
    width: 100%;
}

/*----- SCROLLER STYLES -----*/

.testi-wrap{
	text-align:center;
	/*width:380px;
	height:282px;*/
	/*border:1px white solid;*/
	display:table-cell; vertical-align:middle;
	width:400px;
	height:140px;
	*width:350px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	font-style:italic;

}

quote.home-scroll{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	line-height:19px;
	color:#ffffff;
	font-weight:normal;
	font-style:italic;
	clear:both;
	float:right;
	margin-bottom:5px;
}

span.quote-end{
	clear:both;
	float:right;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	color:#FFFFFF;
}




/* Container DIV - automatically generated */
.simply-scroll-container {
	position: relative;
	text-align:center;
}

/* Clip DIV - automatically generated */
.simply-scroll-clip {
	position: relative;
	overflow: hidden;
	z-index: 2;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.simply-scroll-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.simply-scroll-list li img {
	border: none;
	display: block;
}

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll {
	width: 360px;
	height: 427px;
	text-align:center;
	padding:0px 20px;
/*	margin-bottom: 1em;*/
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
	width: 360px;
	height: 427px;
}

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list li {
	float: left; /* Horizontal scroll only */
	width: 360px;
	/*margin-top:50px;*/
	height: 140px;
	/*padding-top:20px;*/
	overflow:auto;
	*overflow:auto hidden;
}

#scroller{
}

table{
	width:100%;
}
td{
	color: #434343;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
	padding:5px;
    text-align: justify;
	border:1px #434343 solid;
}
td p{
	color: #434343;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
	padding:0px;
    text-align: justify;
}

h2.testimonial-title {
	letter-spacing:-1px;
}

.testimonials-link, .testimonials-link a, .testimonials-link:visited {
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:14px;
	color:#294a0a;
	font-weight:normal;
}

.testimonials-link{
	margin:10px 0;
}



.quick-claim-form, .contact-form{
	width:400px;
	min-height:482px;
	margin-bottom:30px;
}

.qc-title{
	width:400px;
	height:51px;
	background-image:url(../images/qc-title.png);
	background-repeat:no-repeat;
}

.contact-form-title{
	width:400px;
	height:51px;
	background-image:url(../images/contact-form-title.png);
	background-repeat:no-repeat;
}

.qc-body, .contact-form-body{
	width:400px;
	min-height:401px;
	overflow:auto;
	background-image:url(../images/qc-form-bg.png);
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:30px;
	text-align:center;
	background-color:#f1f1f1;
}


.quick-claim-form-news{
	width:280px;
	min-height:482px;
	overflow:auto;
	margin-bottom:30px;
}

.qc-title-news{
	width:280px;
	height:51px;
	background-image:url(../images/qc-title-news.png);
	background-repeat:no-repeat;
}

.qc-body-news{
	width:280px;
	min-height:401px;
	overflow:auto;
	background-image:url(../images/qc-form-bg-news.png);
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:30px;
	text-align:center;
	background-color:#f1f1f1;
}

.qc-body p, .qc-body-news p, .contact-form p{
	text-align:center;
	padding-top:20px;
	margin-bottom:10px;
	margin-top:0 !important;
}

.fill-details{
	font: 14px/20px Arial, Helvetica, sans-serif;
	color:#545454;
	padding:20px 15px 0 15px;
}

#quickclaim input, #contactform input, #contactform .address{
	margin:0 auto;
	width:242px;
	height:31px;
	margin-top:10px;
	background-image:url(../images/input-bg.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	padding:0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#717171;

	*padding-top:8px;
	*height:20px;
	*margin-top:6px;

	padding-top /*\**/: 8px\9;
	height /*\**/: 25px\9;
	margin-top /*\**/: 6px\9;
}
:root #quickclaim input, :root #contactform input {
  padding-top: 2px\9;
  height: 31px\9;
  margin-top /*\**/: 8px\9;
}

#contactform .address{
	background-image:url(../images/text-area-bg.png);
	background-repeat:repeat-y;
	height:100px;
	padding:10px;

}

#contactform .address textarea{
	width:234px;
	height:100px;
	border:none;
	resize:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#717171;
}





#quickclaim .check-wrap input#qcppi, #contactform .check-wrap input#conppi{
	height:31px;
	width:16px;
	background-image:url(../images/number-input-bg.png);
	background-position:top;
	padding:0px 10px;
	margin-top:0;

	padding-top /*\**/: 8px\9;
}

:root #quickclaim .check-wrap input#qcppi, :root #contactform .check-wrap input#conppi {
  padding-top: 0px\9;
}

#quickclaim .check-wrap.qcppi label, #contactform .checkwrap.qcppi label{
	padding-left:10px;
}

#quickclaim .check-wrap.qctitle, #quickclaim .check-wrap.qcppi, #contactform .check-wrap.contitle, #contactform .check-wrap.conppi{
	background-image:url(../images/qc-drop-bg.png);
	background-repeat:no-repeat;
	padding:2px 6px;
}

#quickclaim .check-wrap.qctitle select, #quickclaim .check-wrap.qcppi select, #contactform .check-wrap.contitle select, #contactform .check-wrap.conppi select{
	width:100px;
	border:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #717171;
}
#quickclaim .check-wrap select, #contactform .check-wrap select{
	margin: 5px 0 8px;
}

#quickclaim .check-wrap.qctitle option, #contactform .check-wrap.contitle option{
	border:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #717171;
}

span.ui-checkbox,
span.ui-radio {
	display: block;
	float: left;
	width: 36px;
	height: 31px;
	background: url(../images/qc-check.png) bottom no-repeat;
}

span.ui-helper-hidden {
	display: none;
}
span.ui-checkbox-state-checked {
	background-position: top;
}

.ui-helper-hidden-accessible {
position: absolute;
left: -9999px;
}

span.checkbox span.check-wrap{
	width:242px;
	text-align:left;
	float:left;
	position:relative;
	margin-top:8px;
	margin-left:70px;
}
span.checkbox span.check-wrap.news-check{
	margin-left:10px;
}

label.ui-checkbox{
	padding-left:10px;
	height:31px;
	line-height:29px;
}

#quickclaim input[type="checkbox"], #contactform input[type="checkbox"]{
	width:20px;
	height:20px;
	margin-top:0px;
	background-image:url(../images/input-bg2.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	padding:0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#717171;
}

#quickclaim label, #contactform label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#717171;
}

input#qcsubmit, input#qcsubmit-news, input#consubmit{
	display: inline-block;
    width: 149px;
    height: 42px;
    background-image:url(../images/qc-submit.png);
	background-position:top;
	vertical-align:middle;
	border:none;
	text-indent:-9999px;
	font-size:0px;
	line-height:0px;
	cursor:auto;
	padding:0px;
	cursor:pointer;
	margin-top:5px;
	float:right;
	margin:10px 65px 0px 0px;
}
input#qcsubmit-news{
	margin:10px 10px 0px 0px;
}

:root #quickclaim input#qcsubmit,:root #quickclaim input#qcsubmit-news,:root #contactform input#consubmit {
  height: 42px\9;
}

input#qcsubmit:hover, input#qcsubmit-news:hover, input#contactform:hover{
	background-position:bottom;
}

p.error{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#DA0000;
	padding:0 10px;
	margin:0;
	line-height:16px;
}

p.sent{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#789036;
	padding:0 10px;
	margin:0;
	line-height:16px;
}

.noi{
	font-style:normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	line-height: 19px;
	font-style:italic;
}
.sub{
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height:14px;
	font-weight: bold;
}

.testimonial-top{
	background-image:url(../images/test-top3.png);
	background-repeat:none;
	width:453px;
	height:12px;

}
.testimonial-top.t-right{
	background-image:url(../images/test-top-right3.png);
	background-repeat:none;
	width:453px;
	height:12px;

}

.testimonial-body{
	background-color:#2a4b0a;
	color:#fff;
	overflow:auto;
	width:413px;
	padding:5px 20px;
}

.testimonial-body.t-right{
	background-color:#4e7314;
	text-align:right;
}

.testimonial-bottom-left{
	background-image:url(../images/test-bottom-left3.png);
	background-repeat:no-repeat;
	width:453px;
	height:32px;
	float:left;
	margin-bottom:15px;

}
.testimonial-bottom-right{
	background-image:url(../images/test-bottom-right3.png);
	background-repeat:no-repeat;
	width:453px;
	height:32px;
	float:right;
	margin-bottom:15px;

}

.t-left{float:left;}
.t-right{float:right;}

.t-wrap{width:453px;}

.t-wrap.t-left{margin:0 500px 0 50px;}
.t-wrap.t-right{margin:0 50px 0 500px;}

.ty-bg{
	background-image:url(../images/thankyou-bg.png);
	background-repeat:no-repeat;
	width:360px;
	height:148px;
	padding:20px;
}

#RichSnippets {
text-align: right;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: #294A0A;
}

#header-cookie-bar{
	background: #f3b01f url(../images/cookie-ban-grad.png) scroll repeat-x left top;
	height:30px;
}

#cookie-wrap{
	margin:0 auto;
	width:960px;
	height:30px;
}

#cookie-wrap p{
	font-family: Arial, Helvetica, Sans-Serif;
	color:#fff;
	font-size:11px;
	height:27px;
	margin:0;
	padding-top:3px;
	float:left;
	width:785px;
	font-weight:bold;
	letter-spacing:normal;
}

#cookie-btns{
	float:right;
	width:103px;
	height:30px;
}

#find-out-more{
	background-image:url(../images/btn-findoutmore.png);
	background-repeat:no-repeat;
	width:103px;
	height:24px;
	float:left;
	margin-top:3px;
}

#accept-cookies{
	background-image:url(../images/btn-accept.png);
	background-repeat:no-repeat;
	width:64px;
	height:24px;
	float:left;
	margin-top:3px;
	margin-left:5px;
}

#find-out-more:hover, #accept-cookies:hover{
	background-position:bottom;
	cursor:pointer;
}

#cookie-list{
	width:700px;
	color:#666;
	font-family:Arial, Helvetica, Sans-Serif;
	margin-bottom:20px;
	text-align:left;
	font-weight:bold;

}

#cookie-list th {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	background: #EEEDE9;
	vertical-align: top;
	padding:10px;
}

#cookie-list td {
	font-size: 12px;
	line-height: 18px;
	background: #F6F5F3;
	vertical-align: top;
	padding:10px;
	border:none;
}

table#cookie-list {
	border-collapse: separate!important;
	border-spacing: 2px!important;
}

span.telephone-number{
	text-align: right;
	clear: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 43px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px #123801;
	line-height:50px;
}

#payment-sb{
	margin-top:30px;
	margin-left:18px;
	width:378px;
}

#payment-sb span{
	display:block;
}

#payment-sb .sb-top{
	background:url(../images/sb-top.jpg) scroll no-repeat;
	width:378px;
	height:15px;
}


#payment-sb .sb-bottom{
	background:url(../images/sb-bottom.jpg) scroll no-repeat;
	width:378px;
	height:10px;
}

#payment-sb .sb-link{
	width:378px;
	height:40px;
	text-indent:-999999px;
}

#payment-sb .sb-link.pp{
	background:url(../images/sb-bg.jpg) top left scroll no-repeat;
}

#payment-sb .sb-link.miss-sold-ppi{
	background:url(../images/sb-bg.jpg) 0 -40px scroll no-repeat;
}

#payment-sb .sb-link.cc-ppi{
	background:url(../images/sb-bg.jpg) 0 -80px scroll no-repeat;
}

#payment-sb .sb-link.mort-ppi{
	background:url(../images/sb-bg.jpg) 0 -120px scroll no-repeat;
}

#payment-sb .sb-link.claim-ppi{
	background:url(../images/sb-bg.jpg) 0 -160px scroll no-repeat;

}

#payment-sb .sb-link:hover{
	background:url(../images/sb-hover.jpg) scroll no-repeat;
	cursor:pointer;
}

#payment-sb .sb-link.pp:hover{
	background-position: top left;
}

#payment-sb .sb-link.miss-sold-ppi:hover{
	background-position: 0 -40px;
}

#payment-sb .sb-link.cc-ppi:hover{
	background-position: 0 -80px;
}

#payment-sb .sb-link.mort-ppi:hover{
	background-position: 0 -120px;
}

#payment-sb .sb-link.claim-ppi:hover{
	background-position: 0 -160px;
}

#claim{
	width:560px;
	float:right;

}

#claim p{
	font:14px/29px Arial, Helvetica, sans-serif;
	color:#767676;
	margin:0;
}

#claim  .claim-title{
	font:51px/60px 'MuseoSlab500', arial, sans-serif;
	color:#2a4b0a;
	margin-bottom:10px;
}

#claim  .claim-sub{
	font:24px/32px Arial, Helvetica, sans-serif;
	color:#767676;
}


#claimform{
	width:560px;
	margin:20px auto 0;
}

#claimform input{
	display:block;
}
#claimform input[type="submit"]{
	width:98px;
	height:36px;
	float:right;
	margin:16px 60px 16px 0;
	background:transparent url(../images/submit-btn.png) no-repeat;

	text-indent:-9999999px;
	border:none;
	bac
}

#claimform input[type="submit"]:hover{
	background-position:0 -35px;
	cursor:pointer;
}

#claimform select{
	width:160px;
	height:34px;
	margin-bottom:10px;
	border: 1px solid #c6dade;
	padding:4px 10px;
	color:#0b62ad;
	border-radius:15px;
	color:#c3c2c2;
	font:20px/36px 'MuseoSlab500', arial, sans-serif;
}
#claimform select:focus{
	color:#5c5c5c;
}

#claimform .box{
	margin-bottom:18px;
	width:301px;
	height:32px;
	border: 1px solid #c6dade;
	padding:0 12px;
	color:#c3c2c2;
	border-radius:15px;
	font:20px/36px 'MuseoSlab500', arial, sans-serif;
}

#claimform .box:focus{
	color:#5c5c5c;
}

#claimform .maxw{
	width:483px;
}


#claimform input.error {
	border: 1px solid #DE001A;
}

.usp-img{
	float:left;
}

.usp-img320{
	display:none;
}



#header-discount{
	width:137px;
	height:136px;
	float:left;
	margin-top:-10px;
	margin-left:80px;
}

#form-discount{
	width:218px;
	height:86px;
	position:absolute;
	right:-18px;
	top:108px;
}

.quick-claim-form, .contact-form{
	position:relative;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		:root #quickclaim input, :root #contactform input { height: 37px\9;}
		:root #quickclaim input#qcsubmit,:root #quickclaim input#qcsubmit-news,:root #contactform input#consubmit { height: 44px\9; }

		#nav {position:absolute\9;  margin-left:-19px;\9}

		.usp-img{
				margin:0 auto;
				width:370px;
				text-align:center;
				float:none;
			}

		#header-discount{
				display:none;
			}

		}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		/*header & navigation*/
			.header{ width:727px; padding:0 20px}
			.header-wrap{ margin:0 auto; }
			.main {width:766px; margin:0 auto; }
			.header-middle-right {width:320px;}


			.navigation {width:754px;}
			.navigation #nav {padding-left:20px;}

			/*content */
			.content-top{display:none;}
			.content-bottom { background:url(../images/content-bottom720.jpg) scroll no-repeat; width:720px; margin:0 auto;}
			.content-middle { padding:25px 15px 0 15px; width:690px; background-image:none; margin:0 auto;}

			/*homepage*/
			.homepage-content-left{width:388px;}
			.homepage-content-right{width:287px;}

			.simply-scroll .simply-scroll-clip {width:267px;}
			.testi-wrap {width:267px; height:auto; overflow: hidden;}
			.simply-scroll { width:248px; height:615px;}
			.simply-scroll .simply-scroll-clip { height:615px;}
			.simply-scroll .simply-scroll-list li { min-height:170px; margin:10px 0; width:258px; overflow:auto hidden;}
			.hp-testimonial { background:url(../images/bg-testimonial2.jpg) scroll no-repeat; width:288px; height:613px;}

			.cta-shadow {display:none;}
			.calltoaction {width:100%;}
			.cta-tag {width:100%;}
			.cta-left {width:100%;}

			#tile2 img {width:20%; height:auto;}

			.quick-claim-form , .qc-title, .qc-body{width:286px;}
			.quick-claim-form, .contact-form { width:284px; overflow: hidden; }
			.qc-title{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -295px; height:50px; width:286px;}
			.qc-body, .contact-form-body { background-image:none; background:#e2e2e2; width:284px; overflow:hidden;}
			span.checkbox span.check-wrap { margin-left:15px; }
			#quickclaim input, #contactform input, #contactform .address { background:url(../images/sprite.png) no-repeat scroll; background-position:0 -168px; height:39px; width:226px;}
			input#qcsubmit, input#qcsubmit-news, input#consubmit
			{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -207px; margin-left:15px; float:left; height:44px; width:250px; }
			input#qcsubmit:hover, input#qcsubmit-news:hover, input#consubmit:hover { background:url(../images/sprite.png) no-repeat scroll; background-position:0 -207px; }
			#quickclaim .check-wrap.qctitle, #quickclaim .check-wrap.qcppi, #contactform .ch, a.yellow-opt2:hover, a.yellow-opt2:visited:hovereck-wrap.contitle, #contactform .check-wrap.conppi
			{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -128px; height:20px; padding:0; }

			#quickclaim .check-wrap.qctitle, #quickclaim .check-wrap.qcppi, #contactform .check-wrap.contitle, #contactform .check-wrap.conppi {background-image:none;}
			.contact-form-title{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -347px; height:50px; width:285px;}

			/*footer*/
			.footer-top{ width:744px; margin: 0 auto; background:url(../images/footer-top720.png) scroll no-repeat;}
			.footer{ width:747px; background-image:none;}
			.footer-content{ width:700px; margin:0 auto; padding:0px 10px; min-height:400px; background:#183206 url(../images/bg-footer2.png) scroll repeat-x;}
			.link2, .link1 {padding-right:20px;}
			.link3{padding:0;}
			.sitemap { width:400px;}
			.news-signup { width:300px;}
			.blurb-txt strong {display:block; }
			.blurb-txt{ border-top:2px solid #ffb806; }
			input#mce-FNAME, input#mce-EMAIL { background:url(../images/sprite.png) no-repeat scroll top left; height:40px; width:273px; padding:0 10px; margin-bottom:0; }
			#mc-embedded-subscribe { background:url(../images/sprite.png) no-repeat scroll; background-position:-16px -685px; height:52px; width:298px; padding:0 10px; }
			#mc-embedded-subscribe:hover { background-position:-16px -741px; }
			.footer-blurb p{width:640px; margin:10px 0 0 -36px; padding:10px 40px 0 40px;}
			div.mce_inline_error {top:90px; color:#fc3b3b; }

			ul#portfolio{ display:none;}
			.calltoaction{background:url(../images/tablet-banner.png) scroll no-repeat top left; height:252px; width:390px; padding:0; margin-bottom:20px;}
			.cta-left{width:390px; height:252px;}
			.cta-tag {display:none;}

			.content-left-blog{display:none;}
			.content-right-blog { border:none; width:auto;}

			.col1m, .col2m{width:100%;}
			.col1 {width:100%;}
			.col1-contact { width:286px; }
			.col2-contact { width: 370px; float:right; }
			.t-wrap.t-left{margin: 0 550px 0 0;}
			.t-wrap.t-right{margin: 0 0 0 550px;}

			@-moz-document url-prefix() {
				.content-middle {
					margin-left:22px;
				}
			}

			#payment .col2{
				width:690px;
			}

			#body-yellow{ margin:0 auto;}

			#payment-sb{ margin:20px auto;}

			.col1.fixer{
				width:388px;
			}

			.col2.fixer #payment-sb .sb-top,
			.col2.fixer #payment-sb .sb-bottom{
				display:none;
			}

			.col2.fixer #payment-sb .sb-link:hover,
			.col2.fixer #payment-sb .sb-link,
			.col2.fixer #payment-sb {
				width:284px;
			}

			.col2.fixer{
				width:284px;
			}

			.usp-img{
				margin:0 auto;
				width:370px;
				text-align:center;
				float:none;
			}

			#claim{
				margin:0 auto;
				float:none;
				clear:both;
			}

			#form-discount{
				top: 138px;
				right:-55px;
			}

			#form-discount img{
				width:80%;
				height:80%;
			}

			.contact-form #form-discount{
				top:116px;
			}

		}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		.content-middle h1 {display:none;}
		#nav {position:absolute\9;  margin-left:0px;\9}

		.right-content-bottom{
				display:none;
			}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		body{ background:#CCC;}
			/*HIDE ELEMENTS*/
			.header-links, #right-content-top, #tile2, #tile3
			{display:none;}

			/*header*/
			.header{ height:160px; width:480px;}
			.header-wrap, .main{ width:480px; margin:0 auto; }
			img.main-logo {margin-left:30px;}
			.main-logo {width:350px; height:auto;}
			.header-middle-right{float:none; width:480px; text-align:center; clear:both;}
			.header-middle-left{height:105px; width:480px;}
			span.telephone-number{font-size:15px; line-height:10px;}

			/*navigation*/
			.navigation{ width:480px; height:152px; border-bottom:3px solid #fbba20; clear:both; margin:0;}
			#home a.home-nav, #about a.about-nav, #credit a.credit-nav, #payment a.payment-nav,
			#win a.win-nav, #refer a.refer-nav, #faq a.faq-nav, #contact a.contact-nav, #ontv a.ontv-nav { background-position:inherit; }
			#nav {position:relative;  margin-left:0px;\9}

			a.home-nav:link, a.home-nav:visited ,
			a.about-nav:link, a.about-nav:visited ,
			a.payment-nav:link, a.payment-nav:visited ,
			a.win-nav:link, a.win-nav:visited ,
			a.refer-nav:link, a.refer-nav:visited ,
			a.faq-nav:link, a.faq-nav:visited,
			a.ontv-nav:link, a.ontv-nav:visited ,
			a.contact-nav:link, a.contact-nav:visited { background-image:none; background:#304b22; width:240px; height:37px; border-bottom:1px solid #a7b2a2; }

			span.alt { color:#fff; font:12px Arial, Helvetica, sans-serif; display:block; border:none; text-align:center; text-transform:uppercase; font-weight:bold; padding:12px 0px;}

			a.about-nav:link, a.about-nav:visited , a.win-nav:link, a.win-nav:visited ,a.faq-nav:link, a.faq-nav:visited, a.contact-nav:link, a.contact-nav:visited { width:239px; border-left:1px solid #a7b2a2;}

			a.home-nav:link:hover, a.home-nav:visited:hover,
			a.about-nav:link:hover, a.about-nav:visited:hover,
			a.payment-nav:link:hover, a.payment-nav:visited:hover,
			a.win-nav:link:hover, a.win-nav:visited:hover,
			a.refer-nav:link:hover, a.refer-nav:visited:hover,
			a.faq-nav:link:hover, a.faq-nav:visited:hover ,
			a.ontv-nav:link:hover, a.ontv-nav:visited:hover ,
			a.contact-nav:link:hover, a.contact-nav:visited:hover { background:#fcb714; color:#000; text-decoration:none;}

			span.alt:hover { color:#000; }


			/*content*/
			.content{clear:both;}
			.content-top, .content-bottom, .cta-tag, .cta-shadow, .footer-top{display:none;}
			.content-middle {background-image:none; width:480px; margin:0; padding:0;}
			#post-3{clear:both;}
			.homepage-content-left{width:480px;}
			.calltoaction{background-image:none; background:#e2e2e2;}
			#home .post{ margin-top:855px; padding:50px 10px 10px 10px; background:url(../images/header-cc2.jpg) no-repeat scroll top left; clear:both; }

			.homepage-content-right { width:480px;}
			.homepage-content-left { margin-bottom:20px; }

			.post  { width:460px; padding:10px; position:relative;}
			.col1m, .col2m { width:460px; }
			.col1, .col2, .col1-contact, .col2-contact { width:480px; }

			#payment .content-middle h1{ padding:10px;}

			/*quickclaim form*/
			.quick-claim-form, .contact-form { width:480px; overflow: hidden; }
			.qc-title{ background: url(../images/header-sprite-tablet.jpg) no-repeat scroll; height:40px; width:480px;}
			.qc-body, .contact-form-body { background-image:none; background:#e2e2e2; width:480px; overflow:hidden;}
			span.checkbox span.check-wrap { margin-left:95px; }
			#quickclaim input, #contactform input, #contactform .address { background:url(../images/sprite.png) no-repeat scroll top left; height:40px; width:273px;}
			input#qcsubmit, input#qcsubmit-news, input#consubmit
			{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -40px; margin-left:95px; float:left; height:44px; width:293px; }
			input#qcsubmit:hover, input#qcsubmit-news:hover, input#consubmit:hover { background:url(../images/sprite.png) no-repeat scroll; background-position:0 -84px; }
			#quickclaim .check-wrap.qctitle, #quickclaim .check-wrap.qcppi, #contactform .ch, a.yellow-opt2:hover, a.yellow-opt2:visited:hovereck-wrap.contitle, #contactform .check-wrap.conppi
			{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -128px; height:28px; padding:6px 6px 6px 10px;}

			#quickclaim .check-wrap.qctitle, #quickclaim .check-wrap.qcppi, #contactform .check-wrap.contitle, #contactform .check-wrap.conppi {background-image:none;}

			/*contact us form*/
			.contact-form-title{ background:url(../images/header-sprite-tablet.jpg) no-repeat scroll; background-position:0 -120px; height:40px; width:480px;}

			ul#portfolio{ display:none;}
			.calltoaction{background:#e2e2e2 url(../images/mobile-banner2.jpg) scroll no-repeat top left; height:221px; width:480px; padding:0;}
			.cta-left{width:480px; height:221px;}

			.homepage-content-right{position:absolute; margin-top:221px;}
			.contact-downloads {padding:0 10px;}

			/*footer*/
			.footer{padding:0; width:480px; height:auto;}
			.footer-content{padding-left:0px; width:480px; min-height:680px; background:#193306;}
			.sitemap{float:right; width:440px; height:auto; overflow:auto; margin-top:300px; padding:0 15px;}
			.news-signup{float:left; width:480px; height:auto; position:absolute; background:#d7d7d7; }
			.footer-blurb{float:right; clear:both; margin:0; bottom:inherit; left:inherit; margin-top:520px; border-top:1px solid #cf9805;padding-top:10px;}


			/*newsletter signup*/
			.news-signup .footer-titles{ background:url(../images/header-sprite-tablet.jpg) no-repeat scroll; background-position:0 -80px; text-indent:-9999999px; height:40px;}
			p.newsletter-txt{font:12px/24px Arial, Helvetica, sans-serif; color:#444; }
			p.newsletter-txt a{color:#294A0A;}
			input#mce-FNAME, input#mce-EMAIL { background:url(../images/sprite.png) no-repeat scroll top left; height:40px; width:273px; padding:0 10px; margin-bottom:0; margin-left:95px;}
			#mc-embedded-subscribe { background:url(../images/sprite.png) no-repeat scroll; background-position:-16px -685px; height:52px; width:298px; padding:0 10px; margin-left:93px;}
			#mc-embedded-subscribe:hover { background-position:-16px -741px; }
			div.mce_inline_error {top:95px; color:#fc3b3b; right:100px; }
			.news-signup p{padding:0 15px;}

			/*sitemap*/
			.link1, .link2, .link3 {padding-right:35px;}
			 .link3{float:none; padding:0;}

			.footer-blurb p{ padding:0 15px;}
			p.blurb-txt{ width:450px; }
			p.blurb-txt strong {display:block;}

			/*what should I do next*/
			#payment .content { position:relative; }
			#payment .col2 { position:absolute; top:0; }
			#payment .col1 {margin-top:450px;}
			#body-yellow{background-image:none; background:#ecb409; width:480px; height: 250px;}
			#body-yellow img { padding:0 10px; margin-left:60px; margin-right:60px;}
			a.yellow-opt1:link, a.yellow-opt1:visited { background:url(../images/option-sprite2.jpg) no-repeat scroll top left; height:55px; width:480px; margin:0; border-top:1px solid #c99d17;}
			a.yellow-opt2:link, a.yellow-opt2:visited {background:url(../images/option-sprite2.jpg) no-repeat scroll; height:55px; background-position:0 -56px; width:480px; margin:0; border-bottom:1px solid #c99d17;}

			a.yellow-opt1:hover, a.yellow-opt1:visited:hover {background-position:0 -112px;}
			a.yellow-opt2:hover, a.yellow-opt2:visited:hover {background-position:0 -168px;}
			a.yellow-opt1 .alt, a.yellow-opt2 .alt { text-indent:-9999999px;}

			/*blog styles*/
			.content-left-blog{display:none;}
			.content-right-blog {width:480px; padding:0; background:url(../images/header-sprite-tablet.jpg) no-repeat scroll; background-position:0 -160px; padding-top:40px;}
			.postmetadata-right{ width:400px; padding:0; background:#d7d7d7; width:380px; padding:10px; font: italic 12px Arial, Helvetica, sans-serif; margin-bottom:10px;}
			.postmetadata-right a:link, .postmetadata-right a:visited, .postmetadata-right a:hover, .postmetadata-right a:visited:hover {font: italic 12px Arial, Helvetica, sans-serif; }

			.entry-sum small, .entry-sum p { margin-left:0;}
			.content-right-blog img.wp-post-image { display:none;}

			.content-right-blog h1{padding:10px;}
			.content-right-blog .post h1 {padding:0;}
			.blognavigation {display:none;}
			.content-right-blog #respond { width:400px; padding: 0 10px; }
			.content-right-blog .wp-pagenavi .first, .content-right-blog .wp-pagenavi .last, .content-right-blog .wp-pagenavi .extend {display:none;}
			.wp-pagenavi a:hover, .wp-pagenavi span.current, .wp-pagenavi .page, .wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink{font-size:18px!important;}


			iframe,  embed,  object { width: 100%; height: auto; }

			/*testimonials*/
			.t-wrap.t-left{margin:0;}
			.t-wrap.t-right{margin:0;}

			#payment-sb .sb-top, #payment-sb .sb-bottom{display:none;}

			#payment-sb {margin: 0;}

			#payment-sb .sb-link.pp,
			#payment-sb .sb-link.miss-sold-ppi,
			#payment-sb .sb-link.cc-ppi,
			#payment-sb .sb-link.mort-ppi,
			#payment-sb .sb-link.claim-ppi
			{ background-image:url(../images/sb-bg-480.jpg); width:480px;}
			#payment-sb .sb-link:hover{ background-image:url(../images/sb-hover-480.jpg); width:480px;}

			#claim{
				width:460px;
				padding:0 10px;
			}

			#claimform{
				width:460px;
			}

			#claim .claim-title{
				font-size:40px;
				line-height:45px;
			}

			#claimform .box{
				width:250px;
			}

			#claimform .maxw{
				width:430px;
			}

			#claimform input[type="submit"]{
				margin-right:0;
			}

			#form-discount{
				top:95px;
			}



		}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
			body{ background:#CCC;}
			/*HIDE ELEMENTS*/
			.header-links, #right-content-top, #tile2, #tile3
			{display:none;}

			/*header*/
			.header{ height:160px; width:320px;}
			.header-wrap, .main{ width:320px; margin:0 auto; }
			img.main-logo {margin-left:15px;}
			.main-logo {width:250px; height:auto;}
			.header-middle-right{float:none; width:320px; text-align:center;}
			.header-middle-left{height:93px; width:320px;}
			span.telephone-number{font-size:15px; line-height:10px;}

			/*navigation*/
			.navigation{ width:320px; height:152px; border-bottom:3px solid #fbba20; clear:both; margin:0;}
			#home a.home-nav, #about a.about-nav, #credit a.credit-nav, #payment a.payment-nav,
			#win a.win-nav, #refer a.refer-nav, #faq a.faq-nav, #contact a.contact-nav, #ontv a.ontv-nav { background-position:inherit; }
			#nav {position:relative;  margin-left:0px;\9}

			a.home-nav:link, a.home-nav:visited ,
			a.about-nav:link, a.about-nav:visited ,
			a.payment-nav:link, a.payment-nav:visited ,
			a.win-nav:link, a.win-nav:visited ,
			a.refer-nav:link, a.refer-nav:visited ,
			a.faq-nav:link, a.faq-nav:visited,
			a.ontv-nav:link, a.ontv-nav:visited ,
			a.contact-nav:link, a.contact-nav:visited { background-image:none; background:#304b22; width:160px; height:37px; border-bottom:1px solid #a7b2a2; }

			span.alt { color:#fff; font:12px Arial, Helvetica, sans-serif; display:block; border:none; text-align:center; text-transform:uppercase; font-weight:bold; padding:12px 0px;}

			a.about-nav:link, a.about-nav:visited , a.win-nav:link, a.win-nav:visited ,a.faq-nav:link, a.faq-nav:visited, a.contact-nav:link, a.contact-nav:visited { width:159px; border-left:1px solid #a7b2a2;}

			a.home-nav:link:hover, a.home-nav:visited:hover,
			a.about-nav:link:hover, a.about-nav:visited:hover,
			a.payment-nav:link:hover, a.payment-nav:visited:hover,
			a.win-nav:link:hover, a.win-nav:visited:hover,
			a.refer-nav:link:hover, a.refer-nav:visited:hover,
			a.faq-nav:link:hover, a.faq-nav:visited:hover ,
			a.ontv-nav:link:hover, a.ontv-nav:visited:hover ,
			a.contact-nav:link:hover, a.contact-nav:visited:hover { background:#fcb714; color:#000; text-decoration:none;}

			span.alt:hover { color:#000; }


			/*content*/
			.content{clear:both;}
			.content-top, .content-bottom, .cta-tag, .cta-shadow, .footer-top{display:none;}
			.content-middle {background-image:none; width:320px; margin:0; padding:0;}
			#post-3{clear:both;}
			.homepage-content-left{width:320px;}
			.calltoaction{background-image:none; background:#e2e2e2;}
			#home .post{ margin-top:855px; padding:50px 10px 10px 10px; background:url(../images/header-cc.jpg) no-repeat scroll top left; clear:both; }

			.homepage-content-right { width:320px;}
			.homepage-content-left { margin-bottom:20px; }

			.post  { width:300px; padding:10px; position:relative;}
			.col1m, .col2m { width:300px; }
			.col1, .col2, .col1-contact, .col2-contact { width:320px; }

			#payment .content-middle h1{ padding:10px;}

			/*quickclaim form*/
			.quick-claim-form, .contact-form { width:320px; overflow: hidden; }
			.qc-title{ background:url(../images/header-sprite.jpg) no-repeat scroll; height:40px; width:320px;}
			.qc-body, .contact-form-body { background-image:none; background:#e2e2e2; width:320px; overflow:hidden;}
			span.checkbox span.check-wrap { margin-left:15px; }
			#quickclaim input, #contactform input, #contactform .address { background:url(../images/sprite.png) no-repeat scroll top left; height:40px; width:273px;}
			input#qcsubmit, input#qcsubmit-news, input#consubmit
			{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -40px; margin-left:15px; float:left; height:44px; width:293px; }
			input#qcsubmit:hover, input#qcsubmit-news:hover, input#consubmit:hover { background:url(../images/sprite.png) no-repeat scroll; background-position:0 -84px; }
			#quickclaim .check-wrap.qctitle, #quickclaim .check-wrap.qcppi, #contactform .ch, a.yellow-opt2:hover, a.yellow-opt2:visited:hovereck-wrap.contitle, #contactform .check-wrap.conppi
			{ background:url(../images/sprite.png) no-repeat scroll; background-position:0 -128px; height:28px; padding:6px 6px 6px 10px;}

			#quickclaim .check-wrap.qctitle, #quickclaim .check-wrap.qcppi, #contactform .check-wrap.contitle, #contactform .check-wrap.conppi {background-image:none;}

			/*contact us form*/
			.contact-form-title{ background:url(../images/header-sprite.jpg) no-repeat scroll; background-position:0 -120px; height:40px; width:320px;}

			ul#portfolio{ display:none;}
			.calltoaction{background:url(../images/mobile-banner.jpg) scroll no-repeat top left; height:221px; width:320px; padding:0;}
			.cta-left{width:320px; height:221px;}

			.homepage-content-right{position:absolute; margin-top:221px;}
			.contact-downloads {padding:0 10px;}

			/*footer*/
			.footer{padding:0; width:320px; height:auto;}
			.footer-content{padding-left:0px; width:320px; min-height:860px; background:#193306;}
			.sitemap{float:right; width:290px; height:auto; overflow:auto; margin-top:350px; padding:0 15px;}
			.news-signup{float:left; width:320px; height:auto; position:absolute; background:#d7d7d7; }
			.footer-blurb{float:right; clear:both; margin:0; bottom:inherit; left:inherit; margin-top:660px; border-top:1px solid #cf9805;padding-top:10px;}


			/*newsletter signup*/
			.news-signup .footer-titles{ background:url(../images/header-sprite.jpg) no-repeat scroll; background-position:0 -80px; text-indent:-9999999px; height:40px;}
			p.newsletter-txt{font:12px/24px Arial, Helvetica, sans-serif; color:#444; }
			p.newsletter-txt a{color:#294A0A;}
			input#mce-FNAME, input#mce-EMAIL { background:url(../images/sprite.png) no-repeat scroll top left; height:40px; width:273px; padding:0 10px; margin-bottom:0; margin-left:15px;}
			#mc-embedded-subscribe { background:url(../images/sprite.png) no-repeat scroll; background-position:-16px -685px; height:52px; width:298px; padding:0 10px; margin-left:12px;}
			#mc-embedded-subscribe:hover { background-position:-16px -741px; }
			div.mce_inline_error {top:140px; color:#fc3b3b; }
			.news-signup p{padding:0 15px;}

			/*sitemap*/
			.link1, .link2, .link3 {padding-right:35px;}
			 .link3{float:none;}

			.footer-blurb p{ padding:0 15px;}
			p.blurb-txt{ width:290px; }
			p.blurb-txt strong {display:block;}

			/*what should I do next*/
			#payment .content { position:relative; }
			#payment .col2 { position:absolute; top:0; }
			#payment .col1 {margin-top:450px;}
			#body-yellow{background-image:none; background:#ecb409; width:320px; height: 250px;}
			#body-yellow img {width:300px; height:auto; padding:0 10px;}
			a.yellow-opt1:link, a.yellow-opt1:visited { background:url(../images/option-sprite.jpg) no-repeat scroll top left; height:55px; width:320px; margin:0; border-top:1px solid #c99d17;}
			a.yellow-opt2:link, a.yellow-opt2:visited {background:url(../images/option-sprite.jpg) no-repeat scroll; height:55px; background-position:0 -56px; width:320px; margin:0; border-bottom:1px solid #c99d17;}

			a.yellow-opt1:hover, a.yellow-opt1:visited:hover {background-position:0 -112px;}
			a.yellow-opt2:hover, a.yellow-opt2:visited:hover {background-position:0 -168px;}
			a.yellow-opt1 .alt, a.yellow-opt2 .alt { text-indent:-9999999px;}

			/*blog styles*/
			.content-left-blog{display:none;}
			.content-right-blog {width:320px; padding:0; background:url(../images/header-sprite.jpg) no-repeat scroll; background-position:0 -160px; padding-top:40px;}
			.postmetadata-right{ width:300px; padding:0; background:#d7d7d7; width:280px; padding:10px; font: italic 12px Arial, Helvetica, sans-serif; margin-bottom:10px;}
			.postmetadata-right a:link, .postmetadata-right a:visited, .postmetadata-right a:hover, .postmetadata-right a:visited:hover {font: italic 12px Arial, Helvetica, sans-serif; }

			.entry-sum small, .entry-sum p { margin-left:0;}
			.content-right-blog img.wp-post-image { display:none;}

			.content-right-blog h1{padding:10px;}
			.content-right-blog .post h1 {padding:0;}
			.blognavigation {display:none;}
			.content-right-blog #respond { width:300px; padding: 0 10px; }
			.content-right-blog .wp-pagenavi .first, .content-right-blog .wp-pagenavi .last, .content-right-blog .wp-pagenavi .extend {display:none;}
			.wp-pagenavi a:hover, .wp-pagenavi span.current, .wp-pagenavi .page, .wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink{font-size:18px!important;}


			iframe,  embed,  object { width: 100%; height: auto; }

			/*testimonials*/
			.t-wrap.t-left{margin:0;}
			.t-wrap.t-right{margin:0;}
			.testimonial-bottom-left, .testimonial-bottom-right, .testimonial-top{display:none;}
			.testimonial-body {width:260px;}

			#payment-sb .sb-top, #payment-sb .sb-bottom{display:none;}

			#payment-sb {margin: 0; width:320px;}

			#payment-sb .sb-link { width: 320px; }

			.usp-img{
				display:none;
			}

			.usp-img320{
				display:block;
			}

			#claim{
				width:300px;
				padding:0 10px;
			}

			#claim .claim-title{
				font-size:28px;
				line-height:35px;
			}

			#claim .claim-sub {
				font-size:20px;
				line-height:24px;
			}

			#claimform select[name="claimtitle"]{
				margin-bottom:18px;
			}

			#claimfirstname{
				float:none!important;
				display:block;
				clear:both;
				margin:0!important;
			}

			#claimform{
				width:300px;
			}

			#claimform .box,
			#claimform .maxw,
			#claimpostcode{
				width:270px!important;
			}

			#claimcontactnum{
				margin-left:0!important;
			}

			#claimform input[type="submit"]{
				margin-right:0;
			}


			#form-discount{
				top:97px;
			}
		}

.right-content-bottom h2{
	font-size:24px;
	line-height:24px;
	padding-bottom:10px;
	border-bottom: 1px solid #e9e9e9;
}

.homepage-news a.newsfeed:link,
.homepage-news a.newsfeed:visited{
	color:#3e691d;
	font:18px/24px Arial, Helvetica, sans-serif;

}

.homepage p.newsfd{
	font:14px/20px Arial, Helvetica, sans-serif;
	color:#555555;
}

.clearfix{
	clear:both;
}