/*----- BANNER STYLES -----*/
#bannerwrap{
	width:940px;
	overflow: hidden;
	border-radius:3px;
}
/*
	AnythingSlider v1.8+ Default theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/*****************************
  SET DEFAULT DIMENSIONS HERE
 *****************************/
/* change the ID & dimensions to match your slider */
#portfolio {
	width: 544px; height: 302px;
	margin:0px;
	padding:0px;
	min-width: 544px;
	/*position:relative;*/
	margin-top:0px;
	
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	
	overflow-y: auto;
	overflow-x: hidden;
}

/******************
  SET STYLING HERE
 ******************
 =================================
 Default state (no keyboard focus)
 ==================================*/
/* Overall Wrapper */
.anythingSlider-default {
	margin: 0 auto;
	/* 45px right & left padding for the arrows, 28px @ bottom for navigation */
	padding: 0 0px 0px 0px;
	
}
/* slider window - top & bottom borders, default state */
.anythingSlider-default .anythingWindow {
	border-radius: 5px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}
/* Navigation buttons + start/stop button, default state */
.anythingSlider-default .anythingControls a {
	display:inline-block;
	width:18px;
	height:18px;
	background: transparent url(images/banner/bullets.png) no-repeat scroll top right;
	/*text-indent:-9999px;*/
	border:0;
	margin-right:5px;
	vertical-align:top;
	zoom: 1;
	*display:inline;
	_height: 18px;
	
}
/* Make sure navigation text is visible */
.anythingSlider-default .anythingControls a span {
	visibility:hidden;
}
/* Navigation current button, default state */
.anythingSlider-default .anythingControls a.cur {
	background-position: 0px 0px;
}

.anythingSlider-default .anythingControls a.start-stop .anythingControls ul a:hover {
	background-position: 0px -18px;
}

/*
 =================================
 Active State (has keyboard focus)
 =================================
*/
/* slider window - top & bottom borders, active state */
.anythingSlider-default.activeSlider .anythingWindow {
	border-radius:3px;
	moz-border-radius:3px;
	webkit-border-radius:3px;
	
}



/* Navigation buttons, active state */
.anythingSlider-default.activeSlider .anythingControls a {
	/* background image = top shadow */
	/*background-position: 0px 0px;*/
}
/* Navigation current & hovered button, active state */
.anythingSlider-default.activeSlider .anythingControls a.cur, .anythingSlider-default.activeSlider .anythingControls a.cur:hover{
	/* background image removed */
	background-position: bottom left;
}
.anythingSlider-default.activeSlider .anythingControls a:hover{
	background-position: 0px -15px;
}

/************************
  NAVIGATION POSITIONING
 ************************/
/* Navigation Arrows */
.anythingSlider-default .arrow {
	top: 185px;
	position: absolute;
	display: block;
}



.anythingSlider-default .arrow a {
	display: block;
	width: 25px;
	height: 62px;
	text-align: center;
	outline: 0;
	background: url(images/banner/slider-arrows.png) no-repeat;
	
}
.anythingSlider-default .arrow a, .anythingSlider-default .arrow a:visited, .anythingSlider-default .arrow a:hover, .anythingSlider-default .arrow a:visited:hover {
	-moz-transition-duration: 0!important;
}

/* back arrow */
.anythingSlider-default .back { left: -25px; }

.anythingSlider-default .back a { background-position: left top; }
.anythingSlider-default .back a:hover,
.anythingSlider-default .back a.hover { background-position: 0 -64px; }
/* forward arrow */
.anythingSlider-default .forward { right: -25px; }
.anythingSlider-default .forward a { background-position: right top; }
.anythingSlider-default .forward a:hover,
.anythingSlider-default .forward a.hover { background-position: right -64px; }

/* Navigation Links */
.anythingSlider-default .anythingControls {
	outline: 0;
	display: none;
	height:50px;
	
	text-align: left;
	width:100%;
	height:38px;
	margin:20px 0;
	
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.anythingSlider-default .anythingControls ul { margin: 0; padding: 0;  }
.anythingSlider-default .anythingControls ul li { display: inline; }
.anythingSlider-default .anythingControls ul a {
	
	text-decoration: none;
	text-align: center;
	outline: 0;
	
	display:inline-block;
	width:15px;
	height:15px;
	background: transparent url(images/slider/navigation.png) scroll no-repeat top left;
	/*text-indent:-9999px;*/
	border:0;
	vertical-align:top;
	margin-right:5px;
	
	
	zoom: 1;
	*display:inline;
	_height: 15px;
}

.anythingControls ul.thumbNav{
	height:15px;
	text-align:center;	
}

/* navigationSize window */
.anythingSlider-default .anythingControls .anythingNavWindow {
	overflow: hidden;
	float: right;
}


/***********************
  IE8 AND OLDER STYLING
 ***********************/

/* Navigation Arrows */
.as-oldie .anythingSlider-default .arrow {
	top: 30%;
}
.as-oldie .anythingSlider-default .arrow a {
	margin: 0;
}

/* margin between nav buttons just looks better */
.as-oldie .anythingSlider-default .anythingControls li {
	margin-left: 3px;
}

/* When using the navigationSize option, the side margins need to be zero
	None of the navigation panels look good in IE7 now =( */
.as-oldie .anythingSlider-default .anythingControls a {
	margin: 0;
}
.as-oldie .anythingSlider-default .anythingNavWindow {
	margin: 0 2px;
}
.as-oldie .anythingSlider-default .anythingNavWindow li {
	padding: 3px 0 0 0;
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper */
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
	-moz-box-shadow: 0 0 8px #888;
	-webkit-box-shadow: 0 0 8px #888;
	box-shadow: 0 0 8px #888;
}
/* anythingSlider viewport window */
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

/* Navigation arrow text; indent moved to span inside "a", for IE7;
  apparently, a negative text-indent on an "a" link moves the link as well as the text */
.anythingSlider .arrow span {
	display: block;
	visibility: hidden;
}
/* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .arrow.disabled {
	display: none;
}
/* all panels inside the slider; horizontal mode */
.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	*zoom:1;
	*display:inline;
}
/* vertical mode */
.anythingSlider .vertical .panel {
	float: none;
}
/* fade mode */
.anythingSlider .fade .panel {
	float: none;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
}
/* fade mode active page - visible & on top */
.anythingSlider .fade .activePage {
	opacity: 1;
	filter: alpha(opacity=100);
	z-index:2;
}


.textSlide{
	color:#fff;
	position:relative;
}



.banner-tag{
	height: 432px;
    margin-left: 0px;
    padding: 0px;
    position: absolute;
	left: 0;
    top: 0;
    width: 940px;
	display:table-cell;
}
.banner-tag .tagleft{
	text-align:left;
}
.banner-tag .tagright{
	text-align:right;
}
span.banner-title{
	position:absolute;
	
}
.tagleft span.banner-title{
	position:absolute;
	bottom:0px;
	
}
.tagright span.banner-title{
	position:absolute;
	bottom:0px;
	right:0px;
}

.banner-tag span.banner-title{
	right:35px;
	bottom:60px;
	color:#fff;
	font-weight:normal;
	font:53px/61px Georgia, "Times New Roman", Times, serif;
	color:#ff9a16;
	text-align:left;
	display:inline-block;
	/*margin-top:100px;*/
	*zoom:1;
	*display:inline;
	width:auto;
	max-width:650px;	
}
:root .banner-tag span.banner-title { line-height:60.5px \0/IE9; } 

.banner-tag span.banner-title span{
	background:transparent url(images/banner/slider-text-bg.png) repeat scroll;
}

.banner-tag span.banner-tagline{
	font-size:28px;
	line-height:46px;
	color:#fff;
	font-weight:normal;
	font-family: PTSansRegular, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	display:inline-block;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	padding:12px 21px;
	
	
	*zoom:1;
	*display:inline;	
}

.tagright span{
	float:right;
	clear:right;
	text-align:right;
}

.shadow{
	width:659px;
	height:12px;
	margin-left:3px;
	margin-top:-2px;
	background:transparent url(images/slider/shadow.png) scroll no-repeat;
}