/*
Theme Name: Canary Claims
Theme URI: http://www.seo-creative.co.uk
Description: A custom theme for Canary Claims, Main site as of V2.2. Responsive Design added for Mobile version at this version (V2.3)
Version: 2.3
Author: Stephen Ludgate & Jonathan Garrett
Author URI: http://www.seo-creative.co.uk
Tags: Green, yellow, clean, financial

This theme was designed by Luke Sherran and built by Stephen Ludgate,
whose blog you will find at http://www.seo-creative.co.uk/blog/

The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php
*/


@import "style/reset.css";
@import "style/ie.css";

@import "style/base.css";
@import "style/skeleton.css";
@import "style/layout.css";

/*Utility Styles************************/
.alignright {
	float: right;
}

.alignleft {
	float: left;
}
.aligncenter {
	display:block;
	margin:0 auto;
}

*{
	padding:0px;
	margin:0px;
}