@charset "utf-8";
/* CSS Document */

body{
	background-color:#acc5a2;
	margin:0px;
	padding:0px;
}

.main{
	width:900px;
	min-height:400px;
	margin:10px auto;
	padding:0px;
}

.header-top{
	width:900px;
	height:20px;
	background-image:url(header-top.png);
	margin:0px;
	padding:0px;
}

.header-middle{
	width:900px;
	height:120px;
	background-color:#4b8a35;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;
	margin:0px;
	padding:0px;
}

.header-middle-left{
	width:600px;	
	height:120px;
	float:left;
}

.header-middle-right{
	width:270px;	
	height:120px;
	float:right;
	padding:0px 20px 0px 0px;
	text-align:right;	
}

.header-bottom{
	width:900px;
	height:20px;
	background-image:url(header-bottom.png);
	margin:0px;
	padding:0px;
}

.search-div{
	text-align:right;	
}

.navigation{
	width:900px;
	height:24px;
	padding:0px;
	margin:10px 0px 0px 10px;
	clear:both;
}

#nav, #nav ul{
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
	display:inline;
	margin:0px;
}

#nav li{
	float:left;
	display:inline;	
	margin:0px 2px 0px 0px;
}

ul{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#595959;
	line-height:18px;
	margin:0px;
	padding:0px;
	list-style-type:disc;
	/*margin:10px 0px 10px 0px;*/
}

ul li{
	margin:0px
	padding:0px;
}

ol{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#595959;
	line-height:18px;
	list-style-type:decimal;
	/*margin:10px 0px 15px 0px;
	list-style-type:*/
}

ol li{
	/*margin:0px;*/	
}

img.main-logo{
	margin:5px 0px 0px 10px;	
}

img.telephone-number{
	margin:30px 0px 0px 10px;	
}

.searchbox{
	width:140px;
	height:16px;
	border:none;
	padding-top:3px;
	padding-left:7px;
	padding-right:10px;
	margin-right:8px;
	vertical-align:middle;
}

.search-button{
	height:24px;
	vertical-align:middle;	
}

.content-top{
	width:900px;
	height:14px;
	background-image:url(content-top.png);
	clear:both;
}

.content-middle{
	width:870px;
	min-height:300px;
	background-color:#fff;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;
	margin:0px;
	padding:0px 15px 0px 15px;
}

.homepage-content-left{
	width:510px;
	padding:0px 20px 0px 0px;
	float:left;	
}

.homepage-content-right{
	width:260px
	float:right;	
}

.content-bottom{
	width:900px;
	height:14px;
	background-image:url(content-bottom.png);
	margin:0px 0px 10px 0px;
	padding:0px;
}

.calltoaction{
	width:870px;
	height:302px;
	background-image:url(call-to-action-bg.jpg);
	border:1px solid #ccc;
	margin:0px 0px 15px 0px;
}

.cta-left{
	width:490px;
	padding:15px;
	float:left;
}

.cta-right{
	width:265px;
	padding:15px 40px 0px 45px;
	float:right;
}

.cta-title1{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333;
	margin:0px 0px 15px 0px;
}

.cta-title2{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	color:#fff;
	line-height:30px;
	margin:0px;
}

.cta-title3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:50px;
	color:#fff;
	line-height:50px;
	margin-bottom:25px;
}

.cta-title4{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#fff;
	line-height:26px;
}

.footer-top{
	width:900px;
	height:17px;
	background-image:url(footer-top.jpg);
	margin:0px;
	padding:0px;
}

.footer{
	width:870px;
	height:117px;
	background-color:#fff7ea;
	padding:0px 15px 0px 15px;
}

.footer-links{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#4b8a35;
	line-height:16px;
	text-align:center;
	padding:0px;
	margin:0px 0px 10px 0px;
}

.footer-bottom{
	width:900px;
	height:17px;
	background-image:url(footer-bottom.jpg);
	margin:0px;
	padding:0px;
	clear:both;
}

.footer-left{
	width:700px;
	float:left;
}

.footer-right{
	width:150px;
	float:right;
	text-align:right;
}

.footer-text{
	font-size:12px;
	color:#000;
	font-style:italic;
	line-height:16px;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	line-height:34px;
	color:#4b8a35;
	margin:0px 0px 10px 0px;
}

h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	line-height:26px;
	color:#4b8a35;
	font-weight:lighter;
	margin:0px 0px 15px 0px;
}

h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#222;
	line-height:20px;
	margin:0px 0px 15px 0px;	
}

p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#222;
	margin:0px 0px 15px 0px;
}


a:link, a:visited{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#4b8a35;
	text-decoration:underline;
}

a:hover, a:visited:hover{
	text-decoration:none;	
}

a.footer-link{
	font-size:11px;	
}

a.home-nav:link, a.home-nav:visited {
	height:24px;
	width:62px;
	background-image:url(btn-home.png);
	background-position:top;
	display:block;
}

a.about-nav:link, a.about-nav:visited {
	height:24px;
	width:62px;
	background-image:url(btn-about.png);
	background-position:top;
	display:block;
}

a.payment-nav:link, a.payment-nav:visited {
	height:24px;
	width:157px;
	background-image:url(btn-payment-protection.png);
	background-position:top;
	display:block;
}

a.win-nav:link, a.win-nav:visited {
	height:24px;
	width:123px;
	background-image:url(btn-no-win-no-fee.png);
	background-position:top;
	display:block;
}

a.refer-nav:link, a.refer-nav:visited {
	height:24px;
	width:118px;
	background-image:url(btn-refer-a-friend.png);
	background-position:top;
	display:block;
}

a.faq-nav:link, a.faq-nav:visited {
	height:24px;
	width:46px;
	background-image:url(btn-faq.png);
	background-position:top;
	display:block;
}

a.contact-nav:link, a.contact-nav:visited {
	height:24px;
	width:72px;
	background-image:url(btn-contact.png);
	background-position:top;
	display:block;
}

a.news-nav:link, a.news-nav:visited {
	height:24px;
	width:56px;
	background-image:url(btn-news.png);
	background-position:top;
	display:block;
}



a.home-nav:hover, a.home-nav:visited:hover, a.about-nav:hover, a.about-nav:visited:hover, a.payment-nav:hover, a.payment-nav:visited:hover, a.win-nav:hover, a.win-nav:visited:hover, a.refer-nav:hover, a.refer-nav:visited:hover, a.faq-nav:hover, a.faq-nav:visited:hover, a.contact-nav:hover, a.contact-nav:visited:hover, a.news-nav:hover, a.news-nav:visited:hover  {
	background-position:bottom;
}

span.alt{
	display:none;	
}

#home a.home-nav,
#about a.is-nav,
#payment a.does-nav,
#win a.seminars-nav,
#refer a.modules-nav,
#faq a.how-nav,
#contact a.news-nav,
#news a.contact-nav{
	background-position:bottom;
}