/*

Theme Name: Canary Claims theme

Theme URI: http://wordpress.org/

Description: A bespoke theme created by SEO Creative

Version: 1.1

Author: Luke Sherran

Author URI: http://www.seo-creative.co.uk

Tags: White, green, yellow, single column page, double column blog, dynamic sidebar



	Brand-id v1.1

	http://www.seo-creative.co.uk/creative/content-mangement-systems-cms.php



	This theme was designed and built by Luke Sherran,

	whose blog you will find at http://www.seo-creative.co.uk/blog/



	The CSS, XHTML and design is released under GPL:

	http://www.opensource.org/licenses/gpl-license.php



*/







/* Begin Typography & Colors */



*{

	padding:0px;

	margin:0px;

}



.widecolumn .entry p {

	font-size: 1.05em;

	}



.narrowcolumn .entry, .widecolumn .entry {

	line-height: 1.4em;

	}



.widecolumn {

	line-height: 1.6em;

	}



.narrowcolumn .postmetadata {

	text-align: center;

	}



.thread-alt {

	background-color: #fff;

}

.thread-even {

	background-color: #f8f8f8;

}

.depth-1 {

border: 1px solid #ccc;

}



.even, .alt {



	border-left: 1px solid #ccc;

}





small {

	font-family: Arial, Helvetica, Sans-Serif;

	font-size: 0.9em;

	line-height: 1.5em;

	}





#sidebar h2 {

	font-family:Verdana, Geneva, sans-serif;

	font-size: 14px;

	font-weight:bold;

	color:#010101;

	}





h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {

	text-decoration: none;

	color: white;

	}



h2, h2 a, h2 a:visited {

	font-weight:400;

	color: #fff;
	
	font-size:18px;

	}



h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {

	text-decoration: none;

	}

	



.sticky {

	background: #f7f7f7;

	padding: 0 10px 10px;

	}

.sticky h2 {

	padding-top: 10px;

	}



.commentlist li, #commentform input, #commentform textarea {

	font-family:Arial, Helvetica, sans-serif;
border:1px solid #9C9C9C;
	font-size:13px;
	
	}
	#commentform textarea {
			
	}

.commentlist li ul li {

	font-size: 1em;

}



.commentlist li {

	font-weight: bold;

}



.commentlist li .avatar { 

	float: right;

	border: 1px solid #eee;

	padding: 2px;

	background: #fff;

	}



.commentlist cite, .commentlist cite a {

	font-weight: normal;

	font-style: normal;

	font-size: 13px;

	color:#9c9c9c;

	}



.commentlist p {

	font-weight: normal;

	line-height: 1.5em;

	text-transform: none;

	}



#commentform p {

	font-family: Arial, Helvetica, sans-serif;

	}



.commentmetadata {

	font-weight: normal;

	}



span.says{

	font-weight:normal;

	color:#9c9c9c;

}



em{

	font-weight:bold;

	font-style:italic;

	color:#9c9c9c;

}





#sidebar {

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	}



small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {

	color: #9c9c9c;

	}



code {

	font: 1.1em 'Courier New', Courier, Fixed;

	}



acronym, abbr, span.caps

{

	font-size: 0.9em;

	letter-spacing: .07em;

	}



/*a, h3 a:hover {

	color: #06c;

	text-decoration: none;

	}



h2 a:hover{

	color:#666;

	text-decoration:underline;	

}

a:hover {

	font-family:Arial, Helvetica, sans-serif;

	color: #06c;

	text-decoration: underline;

	}



*/



#wp-calendar #prev a, #wp-calendar #next a {

	font-size: 9pt;

	}



#wp-calendar a {

	text-decoration: none;

	}



#wp-calendar caption {

	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;

	text-align: center;

	}



#wp-calendar th {

	font-style: normal;

	text-transform: capitalize;

	}

/* End Typography & Colors */







/* Begin Structure */



#page {

	background-color: white;

	margin: 20px auto;

	padding: 0;

	width: 760px;

	border: 1px solid #959596;

	}



#header {

	background-color: #73a0c5;

	margin: 0 0 0 1px;

	padding: 0;

	height: 200px;

	width: 758px;

	}



#headerimg {

	margin: 0;

	height: 200px;

	width: 100%;

	}



.narrowcolumn {

	float: left;

	padding: 0 0 20px 45px;

	margin: 0px 0 0;

	width: 450px;

	}



.widecolumn {

	padding: 10px 0 20px 0;

	margin: 5px 0 0 150px;

	width: 450px;

	}





.post hr {

	display: block;

	}



.widecolumn .post {

	margin: 0;

	}



.narrowcolumn .postmetadata {

	padding-top: 5px;

	}



.widecolumn .postmetadata {

	margin: 30px 0;

	}



.widecolumn .smallattachment {

	text-align: center;

	float: left;

	width: 128px;

	margin: 5px 5px 5px 0px;

}



.widecolumn .attachment {

	text-align: center;

	margin: 5px 0px;

}



.postmetadata {

	clear: both;

}



.clear {

	clear: both;

}



/* End Structure */







/*	Begin Headers */



h2 {

	margin: 0px 0px 10px 0px;

	}



h2.pagetitle {

	color:#9c9c9c;

	margin-top: 10px;

	text-align: center;

	font-style:italic;

}



#sidebar h2 {

	margin: 5px 0 10px 0;

	padding: 0;

	}



h3 {

	padding: 0;

	margin: 30px 0 0;

	font-size:14px;

	}



h3.comments {

	padding: 0;

	margin: 40px auto 20px ;

	}

/* End Headers */







/* Begin Images */

p img {

	padding: 0;

	max-width: 100%;

	}



/*	Using 'class="alignright"' on an image will (who would've

	thought?!) align the image to the right. And using 'class="centered',

	will of course center the image. This is much better than using

	align="center", being much more futureproof (and valid) */



img.centered {

	display: block;

	margin-left: auto;

	margin-right: auto;

	}



img.alignright {

	padding: 4px;

	margin: 0 0 2px 7px;

	display: inline;

	}



img.alignleft {

	padding: 4px;

	margin: 0 7px 2px 0;

	display: inline;

	}



.alignright {

	float: right;

	}



.alignleft {

	float: left;

	}

/* End Images */







/* Begin Lists



	Special stylized non-IE bullets

	Do not work in Internet Explorer, which merely default to normal bullets. */



html>body .entry ul {

	margin-left: 0px;

	margin-bottom:15px;

	padding: 0 0 0 30px;

	list-style: none;

	padding-left: 10px;

	text-indent: 0px;

	}



html>body .entry li {

	margin: 7px 0 5px 10px;

	list-style:disc;

	list-style-position:outside;

	line-height:18px;

	}



.entry ul li:before, #sidebar ul ul li:before {

	/*content: "\00BB \0020";*/

	}



.entry ol {

	padding: 0 0 0 35px;

	margin: 0;

	}



.entry ol li {

	margin: 0;

	padding: 0;

	}



.postmetadata ul, .postmetadata li {

	display: inline;

	list-style-type: none;

	list-style-image: none;

	}



#sidebar ul, #sidebar ul ol {

	margin: 0;

	padding: 0;

	}



#sidebar ul li {

	list-style-type: none;

	list-style-image: none;

	margin-bottom: 20px;

	}



#sidebar ul p, #sidebar ul select {

	margin: 5px 0 8px;

	

	}



#sidebar ul ul, #sidebar ul ol {

	margin: 5px 0 0 10px;

	}



#sidebar ul ul ul, #sidebar ul ol {

	margin: 0 0 0 10px;

	}



ol li, #sidebar ul ol li {

	list-style: none;

	}



#sidebar ul ul li, #sidebar ul ol li {

	margin: 3px 0 10px 0;

	padding: 0;

	}

/* End Entry Lists */







/* Begin Form Elements */



.searchbox{

	width:165px;

	height:19px;

	border:none;

	padding-top:3px;

	padding-left:7px;

	padding-right:10px;

	margin-right:8px;

	vertical-align:middle;

}



#searchsubmit{

	vertical-align:middle;
	height:26px;
	padding:0px 3px 2px 3px;
}



/*a.searchbtn{

	display: inline-block;

    width: 80px;

    height: 22px;

    background-image:url(images/search-btn.png);

	background-position:top;

	vertical-align:middle;

}*/





#searchform {

	margin: 0px;

	padding: 0px 0px 0px 0px;

	text-align: right;

	}



#searchform #s {

	width: 130px;

	padding: 2px;

	vertical-align:middle;

	}



/*#searchsubmit {

	display: inline-block;

    width: 80px;

    height: 22px;

    background-image:url(images/search-btn.png);

	background-position:top;

	background-color:#000;

	vertical-align:middle;

	border:none;

	text-indent:-9999px;

	font-size:0px;

	line-height:0px;

}*/



.entry form { /* This is mainly for password protected posts, makes them look better. */

	text-align:center;

	}



select {

	width: 130px;

	}



#commentform input {

	width: 170px;

	padding: 2px;

	margin: 5px 5px 1px 0;

	}



#commentform {

	margin: 5px 10px 0 0;

	}

#commentform textarea {

	width: 550px;

	padding: 2px;

	}

#respond:after {

		content: "."; 

	    display: block; 

	    height: 100%; 

	    clear: both; 

	    visibility: hidden;

	}
	
	#respond{
		padding-top:0px;
	}

#commentform #submit {

	margin: 0 3px 5px auto;

	float: right;

	}

/* End Form Elements */







/* Begin Comments*/

.alt {

	margin: 0;

	padding: 10px;

	}



.commentlist {

	padding: 0;

	text-align: justify;

	}



.commentlist li {

	margin: 0px 0 10px;

	padding: 5px 5px 10px 10px;

	list-style: none;



	}

.commentlist li ul li { 

	margin-right: -5px;

	margin-left: 10px;

}



.commentlist p {

	margin: 10px 5px 10px 0;

}

.children { padding: 0; }



#commentform p {

	margin: 5px 0;

	}



.nocomments {

	text-align: center;

	margin: 0;

	padding: 0;

	}



.commentmetadata {

	margin: 0;

	display: block;

	}

/* End Comments */







/* Begin Sidebar */

#sidebar

{

	/*padding: 20px 0 10px 0;

	margin-left: 545px;

	width: 190px;*/

	margin-left:5px;

	}



#sidebar form {

	margin: 0;

	}

/* End Sidebar */







/* Begin Calendar */

#wp-calendar {

	empty-cells: show;

	margin: 10px auto 0;

	width: 155px;

	}



#wp-calendar #next a {

	padding-right: 10px;

	text-align: right;

	}



#wp-calendar #prev a {

	padding-left: 10px;

	text-align: left;

	}



#wp-calendar a {

	display: block;

	}



#wp-calendar caption {

	text-align: center;

	width: 100%;

	}



#wp-calendar td {

	padding: 3px 0;

	text-align: center;

	}



#wp-calendar td.pad:hover { /* Doesn't work in IE */

	background-color: #fff; }

/* End Calendar */







/* Begin Various Tags & Classes */

acronym, abbr, span.caps {

	cursor: help;

	}



acronym, abbr {

	border-bottom: 1px dashed #999;

	}



blockquote {

	margin: 15px 30px 0 10px;

	padding-left: 20px;

	border-left: 5px solid #ccc;

	color:#666;

	background-color:#fff;

	}



blockquote cite {

	margin: 5px 0 0;

	display: block;

	}



blockquote p{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-style:italic;
	font-size:14px;
	color:#555555;

}



.center {

	text-align: center;

	}



.hidden {

	display: none;

	}

	

.screen-reader-text {

     position: absolute;

     left: -1000em;

}



hr {

	display: none;

	}



a img {

	border: none;

	}

/* End Various Tags & Classes*/







/* Captions */

.aligncenter,

div.aligncenter {

	display: block;

	margin-left: auto;

	margin-right: auto;

}



.wp-caption {

	border: 1px solid #ddd;

	text-align: center;

	background-color: #f3f3f3;

	padding-top: 4px;

	margin: 10px;

/*	-moz-border-radius: 3px;

	-khtml-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;*/

}



.wp-caption img {

	margin: 0;

	padding: 0;

	border: 0 none;

}



.wp-caption p.wp-caption-text {

	font-size: 11px;

	line-height: 17px;

	padding: 0 4px 5px;

	margin: 0;

}

/* End captions */





/* "Daisy, Daisy, give me your answer do. I'm half crazy all for the love of you.

	It won't be a stylish marriage, I can't afford a carriage.

	But you'll look sweet upon the seat of a bicycle built for two." */

	



img.sm-icons{

	margin:0px 5px 0px 0px;

	border:none;	

}





img#pdf{

	margin:0px 5px 0px 0px;	

}





a.blogheading, a.blogheading:visited, a.blogheading:link{

	/*color:#4b8a35;
	font-size:18px;
	text-decoration:underline;*/
	
	
	color: #4B8A35;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 34px;
    margin: 0 0 0px;
	font-weight:bold;
	text-decoration:underline;
}



a.blogheading:hover, a.blogheading:visited:hover {

	text-decoration:none;

}



.blognavigation{

	width:570px;

	font-family:Arial, Helvetica, sans-serif;

	height:25px;

	background-image: none;

	margin-left:0px;

	margin-top:25px;

	border: none;

}



.alignright {

	float: right;

	color:#9c9c9c;

}



.alignleft {

	float: left;

	color:#9c9c9c;

}





img#sidebar{

	border:none;

	padding:0px;

	margin:20px 0px 6px 0px;

}





.small{

	margin:-10px 0px 15px 0px;

	font-weight:bold;

	font-size:12px;

	font-family:Arial, Helvetica, sans-serif;

	color:#666;

}



.smallfeed{

	margin:10px 0px 15px 0px;

	font-weight:bold;

	font-size:12px;

	font-family:Arial, Helvetica, sans-serif;

	color:#666;

}



.readmorespace{

	padding:0;

	margin:10px 0px 40px 0px;

	text-align:right;

}



@charset "utf-8";

/* CSS Document */



body{

	/*background-color:#acc5a2;*/

	margin:0px;

	padding:0px;
	background-image:url(images/bg_tile.gif);
	background-repeat:repeat;

}
body{

	/*background-color:#acc5a2;*/

	margin:0px;

	padding:0px;
	background-image:url(images/bg_tile.gif);
	background-repeat:repeat;

}



.main{

	width:900px;

	min-height:400px;

	margin:10px auto;

	padding:0px;

}



.header-top{

	width:900px;

	height:20px;

	background-image:url(images/header-top.png);

	margin:0px;

	padding:0px;

}



.header-middle{

	width:900px;

	height:120px;

	background-color:#4b8a35;

	overflow:auto;

	overflow-x:hidden;

	overflow-y:hidden;

	margin:0px;

	padding:0px;

}



.header-middle-left{

	width:600px;	

	height:120px;

	float:left;

}



.header-middle-right{

	width:270px;	

	height:120px;

	float:right;

	padding:0px 20px 0px 0px;

	text-align:right;	

}



.header-bottom{

	width:900px;

	height:20px;

	background-image:url(images/header-bottom.png);

	margin:0px;

	padding:0px;

}



.search-div{

	text-align:right;	

}



.navigation{

	width:900px;

	height:24px;

	padding:0px;

	margin:10px 0px 0px 10px;

	clear:both;

}



#nav, #nav ul{

	font-size:14px;

	font-weight:bold;

	font-family:Arial;

	display:inline;

	margin:0px;

}



#nav li{

	float:left;

	display:inline;	

	margin:0px 2px 0px 0px;

}



ul{

	font-family:Verdana, Geneva, sans-serif;

	font-size:12px;

	color:#222222;

	line-height:18px;

	margin:0px;

	padding:0px;

	list-style-type:disc;

	/*margin:10px 0px 10px 0px;*/

}



ul li{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#222222;
	line-height:18px;
	margin:0px
	padding:0px;
}

li{
	
}

ol{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	color:#595959;

	line-height:18px;

	list-style-type:decimal;

	/*margin:10px 0px 15px 0px;

	list-style-type:*/

}



ol li{

	/*margin:0px;*/	

}



img.main-logo{

	margin:5px 0px 0px 10px;	

}



img.telephone-number{

	margin:30px 0px 0px 10px;	

}



.searchbox{

	width:140px;

	height:16px;

	border:none;

	padding-top:3px;

	padding-left:7px;

	padding-right:10px;

	margin-right:8px;

	vertical-align:middle;

}



.search-button{

	height:24px;

	vertical-align:middle;	

}



.content-top{

	width:900px;

	height:14px;

	background-image:url(images/content-top.png);

	clear:both;

}



.content-middle{

	width:870px;

	min-height:300px;

	background-color:#fff;

	overflow:auto;

	overflow-x:hidden;

	overflow-y:hidden;

	margin:0px;

	padding:0px 15px 0px 15px;

}



.homepage-content-left{

	width:510px;

	padding:0px 20px 0px 0px;

	float:left;	

}



.homepage-content-right{

	width:340px;

	float:right;
	margin-top:20px;

}
.right-content-top{
	/*border:1px red solid;*/
}
.right-content-bottom{
	/*border:1px red solid;*/
	margin-top:50px;
}

/*#part2_right_box{ width:423px; height:10px; background-image:url(../images/small-crv-forms.jpg); background-repeat:no-repeat; }*/
#part2_right .tp{ background:url(../images/small-crv-forms.jpg) top left no-repeat #DBE8D7 ; height:14px; display:block; } 
#part2_right_box{ width:340px; /*height:250px;*/ background:url(images/small-crv-forms.jpg) top left no-repeat; background-color:#DBE8D7;  }
/*#part2_right_box h2{ 

}*/
#part2_right_box3{ width:340px; height:13px; background-image:url(images/small-crv-forms-bottom.jpg); background-repeat:no-repeat; display:block; float:left; margin:-13px 0px 10px 0px;}

div#recommend{background:#dbe8d7;border:1px solid #ddd;border-top:none;margin-bottom:12px;height:330px;}
div#recommend div#slide{background:#dbe8d7;}
div#recommend p, p.pageRelevance{
	margin:8px 6px;
	padding:0 0 6px;
	border-bottom:3px solid #ccc;
	color:#333;
	line-height:1.4em;
	font-size:12px;
}
div#recommend p span{font-weight:bold;padding-top:10px;}

/*h2.ticker-title{
	font-family:Verdana, Geneva, sans-serif;

	font-size:18px;

	line-height:26px;

	color:#4b8a35;

	font-weight:lighter;

	padding:5px 0px 0px 10px;	
}*/

p.ticker-title{
	font-family:Verdana, Geneva, sans-serif; font-size:18px; color:#4B8A35; font-weight:lighter; margin:0px 0 12px 8px; text-align:left;
	padding-top:5px;
}



.content-left-blog{

	width:260px;

	padding:0px 20px 0px 0px;

	margin:0px;

	float:left;
}



.content-right-blog{

	width:570px;

	margin:0px;

	float:right;

}





.content-bottom{

	width:900px;

	height:14px;

	background-image:url(images/content-bottom.png);

	margin:0px 0px 10px 0px;

	padding:0px;

}



.calltoaction1{

	/*width:870px;*/
	width:593px;

	height:302px;

	background-image:url(images/call-to-action-bg2.jpg);

	background-repeat: repeat-x;

	border:1px solid #ccc;

	margin:0px 0px 15px 0px;
	float:left;

}



/*.cta-left{

	width:490px;

	padding:15px;

	float:left;

}*/


.cta-right{

	width:260px;

	height:302px;

	background-image:url(images/cta2-bg.jpg);

	border:1px solid #ccc;

	margin:0px 0px 0px 0px;
	float:right;

}
.cta-right-tit{

	width:260px;

	margin:20px 0px 0px 0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	font-weight:normal;
	text-align:center;

}
.cta-right-text{

	width:230px;


	

	margin:10px 0px 0px 0px;
	padding:0px 15px 0px 15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	font-weight:normal;
	text-align:left;
	line-height:24px;

}




a.cta-more:link, a.cta-more:visited {	
	margin: 20px 0px 0px 20px;
	height:76px;

	width:217px;

	background-image:url(images/btn-start-claim.png);

	background-position:top;

	display:block;

}
a.cta-more:hover, a.cta-more:visited:hover  {

	background-position:bottom;

}

.cta-title1{

	font-family:Verdana, Geneva, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333;

	margin:0px 0px 15px 0px;

}



.cta-title2{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:30px;

	color:#fff;

	line-height:30px;

	margin:0px;

}



.cta-title3{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:50px;

	color:#fff;

	line-height:50px;

	margin-bottom:25px;

}



.cta-title4{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:18px;

	color:#fff;

	line-height:26px;

}



.footer-top{

	width:900px;

	height:17px;

	background-image:url(images/footer-top.jpg);

	margin:0px;

	padding:0px;

}



.footer{

	width:870px;

	height:117px;

	background-color:#fff7ea;

	padding:0px 15px 0px 15px;

}



.footer-links{

	font-family:Verdana, Geneva, sans-serif;

	font-size:11px;

	color:#4b8a35;

	line-height:16px;

	text-align:center;

	padding:0px;

	margin:0px 0px 10px 0px;

}



.footer-bottom{

	width:900px;

	height:17px;

	background-image:url(images/footer-bottom.jpg);

	margin:0px;

	padding:0px;

	clear:both;

}



.footer-left{

	width:700px;

	float:left;

}



.footer-right{

	width:150px;

	float:right;

	text-align:right;

}



.footer-text{

	font-size:12px;

	color:#000;

	font-style:italic;

	line-height:16px;

}



.col1{

	width:421px;

	float:left;

	/*background-color: #FFE9B8;*/

	padding: 0px 0 10px 0px;

}



#contact-bg-outer							{float:left; width:421px; background:url(images/contact-left-topbg.jpg) no-repeat top left; padding-top:14px; height:auto;}



#contact-bg-inner							{float:left; width:401px; background:url(images/contact-left-bottom.jpg) no-repeat bottom left #FFE9B8; padding:0 0 14px 20px; height:auto; }





h5							{font:bold 13px/13px Arial, Helvetica, sans-serif; float:both; padding-bottom:10px }



form p b					{font:normal 14px/17px Arial, Helvetica, sans-serif; float:left; width:98px;}

form p input.textfild		{float:left; width:261px; padding:3px 0 3px 0; border:none; background:#FFFFFF; margin: 0px 0 10px 0;}

form p textarea				{float:left; width:261px; height:117px; border:none; background:#FFFFFF;margin: 0 0 10px 0;}

form p input.submitt02		{float:right; width:55px; height:20px; border:none; background:url(images/cont-send-btn02.jpg) no-repeat top left; display:block; margin:0px 50px 0 0; cursor:pointer; display:inline; font-size:1px; color:#4B8934;}



form p input.submitt04		{float:right; width:55px; height:20px; border:none; background:url(images/cont-send-btn.jpg) no-repeat top left; display:block; margin:0px 10px 0 0; cursor:pointer; display:inline; font-size:1px; color:#4B8934;}

#selectTitleForContact{

width:120px;

border:1px solid #ccc;

margin-bottom:-3px;

}

span.askNumber {width:100%;padding-bottom:2px;margin-top:-6px;}

span.askNumber select{font-size:1em;}

.style8 {color: #FF0000}

#contact-bg-inner form h5 {padding-bottom:20px;}







.col2{

	width:380px;

	float:right;

	

}



h1{

	font-family:Arial, Helvetica, sans-serif;

	font-size:28px;

	line-height:34px;

	color:#4b8a35;

	margin:0px 0px 10px 0px;

}



h2{

	font-family:Verdana, Geneva, sans-serif;

	font-size:18px;

	line-height:26px;

	color:#4b8a35;

	font-weight:lighter;

	margin:0px 0px 15px 0px;

}



h3{

	font-family:Verdana, Geneva, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#222;

	line-height:20px;

	margin:0px 0px 15px 0px;	

}



p.faq-header{

	font-family:Arial, Helvetica, sans-serif;

	font-size:16px;

	font-weight:bold;

	line-height:24px;

	color:#4b8a35;

	margin:0px 0px 15px 0px;

}



p{

	font-family:Verdana, Geneva, sans-serif;

	font-size:12px;

	line-height:20px;

	color:#222;

	margin:0px 0px 15px 0px;

}





a:link, a:visited{

	font-family:Verdana, Geneva, sans-serif;

	font-size:12px;

	line-height:20px;

	color:#4b8a35;
	color:#339933;

	text-decoration:underline;

}



a:hover, a:visited:hover{

	text-decoration:none;	

}



a.newsfeed{

	font-size:12px;	

}



a.footer-link{

	font-size:11px;	

}



a.home-nav:link, a.home-nav:visited {

	height:24px;

	width:62px;

	background-image:url(images/btn-home.png);

	background-position:top;

	display:block;

}



a.about-nav:link, a.about-nav:visited {

	height:24px;

	width:62px;

	background-image:url(images/btn-about.png);

	background-position:top;

	display:block;

}

a.credit-nav:link, a.credit-nav:visited {

	height:24px;

	width:157px;

	background-image:url(images/btn-credit-card-charges.png);

	background-position:top;

	display:block;

}

a.payment-nav:link, a.payment-nav:visited {

	height:24px;

	width:157px;

	background-image:url(images/btn-payment-protection.png);

	background-position:top;

	display:block;

}



a.win-nav:link, a.win-nav:visited {

	height:24px;

	width:123px;

	background-image:url(images/btn-no-win-no-fee.png);

	background-position:top;

	display:block;

}



a.refer-nav:link, a.refer-nav:visited {

	height:24px;

	width:118px;

	background-image:url(images/btn-refer-a-friend.png);

	background-position:top;

	display:block;

}



a.faq-nav:link, a.faq-nav:visited {

	height:24px;

	width:46px;

	background-image:url(images/btn-faq.png);

	background-position:top;

	display:block;

}



a.contact-nav:link, a.contact-nav:visited {

	height:24px;

	width:72px;

	background-image:url(images/btn-contact.png);

	background-position:top;

	display:block;

}



a.news-nav:link, a.news-nav:visited {

	height:24px;

	width:56px;

	background-image:url(images/btn-news.png);

	background-position:top;

	display:block;

}







a.home-nav:hover, a.home-nav:visited:hover, a.about-nav:hover, a.about-nav:visited:hover, a.credit-nav:hover, a.credit-nav:visited:hover, a.payment-nav:hover, a.payment-nav:visited:hover, a.win-nav:hover, a.win-nav:visited:hover, a.refer-nav:hover, a.refer-nav:visited:hover, a.faq-nav:hover, a.faq-nav:visited:hover, a.contact-nav:hover, a.contact-nav:visited:hover, a.news-nav:hover, a.news-nav:visited:hover  {

	background-position:bottom;

}



span.alt{

	display:none;	

}



#home a.home-nav,

#about a.about-nav,
#credit a.credit-nav,

#payment a.payment-nav,

#win a.win-nav,

#refer a.refer-nav,

#faq a.faq-nav,

#contact a.contact-nav,

#news a.news-nav{

	background-position:bottom;

}





#body-yellow {

	width:295px; 

	height:auto; 

	background:url(images/yellowbg.gif) no-repeat top left; 

	padding:10px; 

	margin:auto;

}



#body-yellow img{

	margin:0 auto; 

	padding:0 0 10px 0;

}



#body-yellow img.lft{

	margin:0 auto; 

	padding:0 0 10px 50px;

}
.alignrightbrac {
	float: right;
	width:10px;
	margin-top:-1px;
	/*border:1px red solid;*/
	vertical-align:top;
	margin-left:5px;
	}
.alignright {
	float: right;
	width:250px;
	/*border:1px red solid;*/
	text-align:right;
	height:100%;
	overflow:auto;
	}
.alignleftbrac {
	float: left;
	width:10px;
	/*border:1px red solid;*/
	margin-right:5px;
	margin-top:-1px;
	}
.alignleft {
	float: left;
	width:250px;
	height:100%;
	overflow:auto;
	/*border:1px red solid;*/
	}
	
.blognavigationbottom{
	
	font-family:Arial, Helvetica, sans-serif;
	
	background-image: none;
	margin-left:0px;
	margin-bottom:25px;
	
	border: none;
	overflow:auto;
	/*overflow-x:hidden;
	overflow-y:hidden;
	border:1px red solid;*/
	/*height:100px;*/
}
.content-right-blog h1{
	padding-bottom:5px;	
}